/* 노멀라이징 */
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 라이브러리 */
.cell {
  float: left;
}
.cell-r {
  float: right;
}
.row::after {
  clear: both;
  content: "";
  display: block;
}
.con {
  max-width: 1080px;
  margin: 0 auto;
}
.img-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inline-grid{
  font-size: 0;
}
.inline-grid > *{
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  box-sizing: border-box;
}
/* 커스텀 */
section > .bg-img > .img-box{
  width: 100%;
  padding-bottom: 55%;
}
/* 스타일 */
header > .top-header{
  width: 100%;
  height: 30px;
}
header > .top-header > nav{
  margin-right: 50px;
}
header > .top-header > nav > ul > li{
  padding: 0 10px;
  line-height: 30px;
  text-transform: uppercase;
  color: #888;
}
header > .mid-header{
  width: 100%;
  height: 60px;
  position: relative;
}
header > .mid-header > .main-logo{
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
header > .mid-header > .main-logo > img{
  max-width: 100%;
  height: auto;
}
header > .mid-header > .btn-box{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 50px;
}
header > .mid-header > .btn-box > .btn{
  background-color: #1ecad3;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
}
header > .btm-header{
  width: 100%;
  height: 30px;
}
header > .btm-header > nav > ul{
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
}
header > .btm-header > nav > ul > li{
  width: 20%;
  color: #55585b;
}
.main-video > video{
  width: 100%;
}
.sec00 > .sec-main-img{
  width: 100%;
  margin-top: 70px;
}
.sec00 > .sec-main-img > .main-img{
  margin: 0 auto;
  width: 45%;
}
.sec00 > .sec-main-img > .main-img > .img-box{
  width: 100%;
  padding-bottom: 28.5%;
}
.sec-video{
  width: 100%;
  position: relative;
}
.sec-video > iframe{
  position: absolute;
  width: 63%;
  height: 65%;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 위트에일 시작 */

.wit > .content-wrap{
  position: relative;
}
.wit > .bg-img > .content-wrap > .title{
  position: absolute;
  top: 20%;
}
section > .content-wrap > .title{
  width: 30%;
}
section > .content-wrap > .title > .img-box{
  width: 100%;
  padding-bottom: 27%;
  background-color: red;
}
/* 위트에일 끝 */
/* https://soyeeee2.github.io/jeju-beer_copy/ */