@charset "utf-8";

#roulette .layer_outer {margin: 0;left: auto;right: 0;top: 0;bottom: 0;padding: 0;margin: 0 0 0 auto;width: auto; max-width:1200px;display: flex;min-height: 100vh;height: auto;justify-content: center;align-items: center;/* background-color: #222222; */}
#roulette .layer_outer .layer_cont {border-radius:0;width: 100%;max-width: 1200px;height: auto;padding:0;overflow: hidden;right: 0;margin:  0 0 0 auto;background-color: #7538b4;background-position: top left;background-repeat: no-repeat;background-size: 100% auto;min-height:100vh;}
#roulette .layer_outer .layer_cont::before {content:''; width:100%; height:calc(100vh - 646px); background-color:#222; position:absolute; bottom:0;}
#roulette .layer_outer .layer_cont::after {width:100%;height:100%;position:absolute;top:0;right:0;bottom:0;left:0;content:'';pointer-events:none;background-image: url('/static/img/roulette/bg_game_top.png');background-size:100% auto;background-position: top left;background-repeat: no-repeat;z-index: 1;}
.popup-open #roulette.on .layer_cont {animation:showPopupRight 0.3s ease-out;}

#roulette .layer_outer .layer_cont.page_point::after {background-image: url('/static/img/roulette/bg_point_top.png');}
#roulette .layer_outer .layer_cont.page_point {background-image: url('/static/img/roulette/bg_point_bottom.png'); }
#roulette .layer_outer .layer_cont.page_init {background-image: url('/static/img/roulette/bg_game_bottom.png'); }
@keyframes showPopupRight { 
    0% { transform: translateX(500px); opacity:0.8;} 
    50% { opacity:1;} 
    100% { transform: translateX(0);}
}

#roulette .page_init {background-image:url('/static/img/roulette/roulette_game_bg.png'); background-size:100% auto; background-position:top center;}

/* 헤더 */
.roulette_wrap {color:#fff;}
.roulette_wrap .color_yellow {color:#ffeb08;}
.roulette_wrap .btn_roulette_close {width:56px;height:36px;background-image:url('/static/img/roulette/btn_close_arrow.png');position:absolute;top: 58px;right: 44px;z-index: 9;font-size: 0;background-size: contain;background-repeat: no-repeat;}

.roulette_wrap .roulette_header {position:relative;padding-top: 58px;margin-left: 60px;/* overflow:hidden; */width: 530px;height: 313px;border-bottom: 1px solid rgba(255,255,255,0.3);}
.roulette_wrap .roulette_header .date {width:335px;height: 44px;margin-left:-60px;background-image:url('/static/img/roulette/date_bg.png');padding-top: 6px;padding-left:60px;font-family:'Arboria';font-size:24px;font-weight:bold;background-size: cover;}
.roulette_wrap .roulette_header .date p {font-family:'Arboria';}
.roulette_wrap .roulette_header h2 {font-size:48px;font-family:'NotoSansBlack';line-height:58px;margin-top:20px;margin-bottom: 12px;display: inline-block;text-align: left;}
.roulette_wrap .roulette_header p {font-size:22px; font-family:'NotoSansL'}
.roulette_wrap .roulette_header p .color_yellow {font-family:'NotoSansB';}

#roulette .roulette_desc {margin: 28px 0 0 60px;margin-top: 0;padding: 14px 0 0 0;width:518px;height: 334px; word-break: break-all;}
#roulette .roulette_desc .roulette_desc_item {display:flex; align-items:center; position:relative; }
#roulette .roulette_desc .roulette_desc_item:nth-child(n+2)::after {content:''; width:4px; height:4px; background-color:#fff; border-radius:5px; position:absolute; left:32px; top:-2px;}
#roulette .roulette_desc .roulette_desc_item .icon {display:block;margin-right:18px;width: 68px;}
#roulette .roulette_desc .roulette_desc_item .icon img {width:auto;width: 68px;}

.gift_list_item {background-color:#222222;margin-top: 66px;margin-top: 0;height: 292px;display: flex;flex-direction: column;justify-content: space-between;padding: 35px 0 56px;position: relative;}
#roulette .gift_list_title {background-color:#222222;border-radius:10px 10px 0 0;display:inline-block;padding: 12px 34px 0 34px;transform: translateY(-100%);position: absolute;top: 0;left: 60px;}

.gift_list {width: 100%;margin-left:60px;/* display:flex; *//* flex-wrap:wrap; */}
.gift_list li:nth-child(2n-1) {margin-right:34px;}
.gift_list li {display:flex;align-items: center;justify-content: space-between;/* margin-bottom: 15px; */width: 522px;height: 59px;}
.gift_list li .text {line-height:26px;margin-bottom: 6px; letter-spacing:-1px}
.gift_list li .point {font-size:15px; color:#f0386c;}
.gift_list li .quantity {font-size:17px;width:63px;height:34px;background-color:#484848;display:block;text-align:center;border-radius:24px;line-height: 34px;}
.gift_list .quantity .num {font-family:'NotoSansB';}

.page_init .gift_list li {/* border-bottom: 1px solid #393939; */}
.page_point .gift_list {display:flex; flex-wrap:wrap; width:624px; justify-content:space-between;}
.page_point .gift_list li {width:300px; margin-right:0;}
.page_point .gift_list li:nth-child(4) .text {/* padding-top:26px; */}

.gift_list.col2 {display:flex; flex-wrap:wrap; width:624px; justify-content:space-between;}
.gift_list.col2 li {width:300px; margin-right:0;}

.info {font-size:14px; color:#757575; margin-left:60px; margin-top:60px;}
.info li p::before {content:'· ';}


/* game area */
.game_area {width:510px;height: 938px;position:absolute;top: 0;right:30px;bottom:60px;left:auto;margin:0;z-index: 1;}


.header_input_box {text-align:center;font-size:18px;line-height:30px;padding: 0 50px;box-sizing: border-box;width: 100%;height: 150px;position: relative;margin-top: 142px; word-break: break-all;}
.header_input_box input {width:100%;height:58px;border-radius:10px;margin-top: 16px;padding: 0 22px;font-size: 16px;}
.header_input_box .em {font-size:22px;font-family:'NotoSansB';margin-top: 12px;}

.header_input_box.step_more {padding-left:0;padding-right:0;padding-top: 45px;}
.header_input_box.step_end {padding-top: 45px;}
.header_input_box.step_end p:not(.em) {font-size:19px;}




/**/

.disable .roulette_game {filter: grayscale(100%);pointer-events: none!important;}
.disable .roulette_game .roulette_cont {background-image:url('/static/img/roulette/roulette_content_gray.png');}
.disable .roulette_game .roulette_pointer {background-image:url('/static/img/roulette/roulette_point_gray.png');}

.roulette_game {width:100%;height: 446px;/* background:gray; */position:relative;left:auto;top: 0;right:0;z-index: 99;}
.roulette_game .roulette_bg {width:416px;height: 100%;background-image:url('/static/img/roulette/roulette_bg.png');background-position:center;background-repeat:no-repeat;margin:0 auto;background-size: cover;}
.roulette_game .roulette_cont {width:416px;height:416px;position:absolute;top: 17px;left:calc(50% - 208px);background-image:url('/static/img/roulette/roulette_content.png');background-position:center;background-repeat:no-repeat;background-size: cover;}
.roulette_game .roulette_pointer {width:100%;height:91px;position:absolute;top:0;left:0;background-image:url('/static/img/roulette/roulette_point.png');background-position:center;background-repeat:no-repeat;background-size: cover;}
#btn_roulette_start {width:134px;height:134px;border-radius:50%;background-image:url('/static/img/roulette/roulette_button.png');background-size:cover;background-position:center;position:absolute;top: 155px;left: 189px;-webkit-box-shadow: 0px 4px 20px -3px rgba(0,0,0,0.48);box-shadow: 0px 4px 20px -3px rgba(0,0,0,0.48);}

#btn_roulette_start span {display:block;font-size:15px; opacity:0.45; color:#fff;}
#btn_roulette_start .go {font-family:'NotoSansBlack';font-size:42px;margin-bottom: 3px;line-height: 1; opacity:1;}

.roulette_list {position: absolute;height: 122px;margin-top: 28px;display: flex;flex-direction: column;justify-content: flex-end;bottom: 59px;left: 99px;pointer-events: none;}
.roulette_list button {pointer-events:auto;}

.btn_roulette_go {width:310px; height:48px; display:block; background:#f0386c; border-radius:24px; margin:13px auto 0; color:#fff; text-align:left; padding:0 36px; font-size:18px; line-height:44px; position:relative;}
.btn_roulette_go::after { content: ''; width: 8px; height: 8px; border-top: 2px solid #fff; border-right: 2px solid #fff; display: inline-block; transform: rotate(45deg); position: absolute; top: 19px; right:31px; }

#btn_go_back {background:#484848;}



/* 룰렛 결과 */
.roulette_result {margin: 30px 0 0 60px;padding: 24px 0 0 0;/* border-top: 1px solid rgba(255,255,255,0.3); */width:518px;height:273px;position:absolute;top: 278px;display: flex;align-items: center;box-sizing: border-box;}
.roulette_result .point_icon {display:block;width:192px;height:192px;background-image:url('/static/img/roulette/ico_point.png');display:flex;flex-direction:column;background-size: contain;justify-content:center;padding-bottom:4px;margin-right: 10px;background-repeat: no-repeat;background-position: center;}
.roulette_result .point_icon span {display:block; text-align:center; font-size:20px; font-family:'NotoSansL'; color:#222; line-height:1;}
.roulette_result .point_icon .num {font-size:60px; font-family:'NotoSansBlack'; margin-bottom:2px;}
.roulette_result p {font-size:26px; line-height:46px; letter-spacing:-1px}
.roulette_result p .color_yellow {font-family:'NotoSansB';}

.try_wrap {background-color:#222; display:inline-block; width:58px; height:26px; border-radius:13px; line-height:25px; line-height:26px;}
.try_wrap .try_num {font-family:'NotoSansB';}


/* 포인트조회 */

.input_wrap {width:510px;height:58px;display:flex;margin-top: 20px;}
.input_wrap input {width:320px;height:100%;margin:0;border-radius:10px 0 0 10px;}
.input_wrap.disable {pointer-events:none;}
.input_wrap button {width:90px;height:100%;background-color:#222;border-radius:0 10px 10px 0;font-size: 17px;}
.page_point .info {margin-top: 10px;}
.btn_input_go {color:#fff;}

.point_box {width:412px;height:527px;background-color:#fff;border:2px solid #222;margin:0 auto;position:relative;box-sizing:border-box;color:#222;margin-top: -13px;}
.point_box:not(.on) {display:none;}
.point_box.on {display:block;}
.point_box .img_voucher {width:255px;height:280px;margin: 38px auto -52px;}
.point_box .img_voucher img {width:100%;}
.point_box::before {content:''; width:435px; height:6px; background-color:#222; position:absolute; top:-2px; left:-11px; border-radius:4px;}
.point_box .voucher_desc {background-color:#f6f6f6;height: calc(100% - 266px);padding: 55px 44px 0; font-size:15px;}
.point_box .voucher_desc ul {padding-left:10px;}
.point_box .voucher_desc ul li {margin-bottom:12px; position:relative}
.point_box .voucher_desc ul li::before {content:''; width:5px; height:5px; position:absolute; top:9px; left:-12px; background:#a3a3a3; border-radius:50%;}
.point_box .voucher_desc .info_email {margin-left:0;font-size:14px;color:#7e7e7e;margin-top: 30px;}
.point_box .voucher_desc .info_email a {display:inline-block; margin-left:4px;}

/* 누적 포인트 리스트 */
.point_all_wrap {background-color:#e7e7e7;height:84px;display:flex;justify-content:center;align-items:center;font-size:18px;display:flex;justify-content:space-between;padding:0 75px 0 63px;border-bottom:1px dashed #ddd;}
.point_all_wrap .label::after {content:'|'; display:inline-block; margin:0 10px;}
.point_num_all {font-family:'NotoSansB'; font-size:26px;}
.point_num_all::after {content:' ';}

.list_wrap {width:calc(100% - 28px); height:389px; overflow-y: scroll; margin:16px 14px; scrollbar-shadow-color:#fff;
    scrollbar-darkshadow-color:#eee;scrollbar-arrow-color:#dfdfdf;scrollbar-3dlight-color:#ffffff;}
.list_wrap::-webkit-scrollbar {width: 3px;}
.list_wrap::-webkit-scrollbar-thumb {background-color: #2f3542;border-radius: 10px;}
.list_wrap::-webkit-scrollbar-track {background-color: grey;border-radius: 10px;}

#point_list {max-width:266px; margin:0 auto;}
#point_list tr {border-bottom:1px dashed #ddd;}
#point_list td {height:38px; vertical-align:middle; font-size:16px; padding:0 12px;}
#point_list tr td:nth-child(2) {font-size:14px; color:#b5b5b5; text-align:right;}
#point_list .point_num_daliy {font-family:'NotoSansB'; color:#f0386c; font-size:16px;}
#point_list .point_num_daliy::after {content:' ';}


#roulette .layer_cont.page_point {visibility:hidden;position: absolute; top:0;}


#roulette .roulette_top {height: 312px;box-sizing:border-box;}



/* pc vw */

@media(max-width:1280px) {
    #roulette .layer_outer {margin: 0 0 0 auto;left: auto;right: 0;top: 0;bottom: 0;padding: 0;min-height: 100vh;height: auto;}
    #roulette .layer_outer .layer_cont {border-radius:0;width: 100%;max-width: 93.7500vw;height: auto;padding:0;background-size: 100% auto;min-height:100vh;right: 0;margin:  0 0 0 auto;}
    #roulette .layer_outer .layer_cont::before { width:100%; height:calc(100vh - 50.4688vw);   bottom:0;}
    #roulette .layer_outer .layer_cont::after {width:100%;height:100%;top:0;right:0;bottom:0;left:0;pointer-events:none;background-image: url('/static/img/roulette/bg_game_top.png');background-size:100% auto;}
    .popup-open #roulette.on .layer_cont {animation:showPopupRight 0.3s ease-out;}

    #roulette .layer_outer .layer_cont.page_point::after {background-image: url('/static/img/roulette/bg_point_top.png');}
    #roulette .layer_outer .layer_cont.page_point {background-image: url('/static/img/roulette/bg_point_bottom.png'); }
    #roulette .layer_outer .layer_cont.page_init {background-image: url('/static/img/roulette/bg_game_bottom.png'); }
    @keyframes showPopupRight { 
        0% { transform: translateX(39.0625vw); opacity:0.8;} 
        50% { opacity:1;} 
        100% { transform: translateX(0);}
    }

    #roulette .page_init {background-image:url('/static/img/roulette/roulette_game_bg.png'); background-size:100% auto; }

    /* 헤더 */
    .roulette_wrap .btn_roulette_close {width:4.3750vw;height:2.8125vw;background-image:url('/static/img/roulette/btn_close_arrow.png');top: 4.5313vw;right: 3.4375vw;font-size: 0;}

    .roulette_wrap .roulette_header {padding-top: 4.5313vw;margin-left: 4.6875vw;/*  */width: 41.4063vw;height: 24.4531vw;border-bottom: 0.0781vw solid rgba(255,255,255,0.3);}
    .roulette_wrap .roulette_header .date {width:26.1719vw;height: 3.4375vw;margin-left:-4.6875vw;background-image:url('/static/img/roulette/date_bg.png');padding-top: 0.4688vw;padding-left:4.6875vw;font-size:1.8750vw;}
    .roulette_wrap .roulette_header h2 {font-size:3.7500vw;line-height:4.5313vw;margin-top:1.5625vw;margin-bottom: 0.9375vw;}
    .roulette_wrap .roulette_header p {font-size:1.7188vw; font-family:'NotoSansL'}

    #roulette .roulette_desc {margin: 2.1875vw 0 0 4.6875vw;margin-top: 0;padding: 1.0938vw 0 0 0;width:40.4688vw;height: 26.0938vw;font-size: 1.25vw;}
    #roulette .roulette_desc .roulette_desc_item { align-items:center;  }    
    #roulette .roulette_desc .roulette_desc_item:nth-child(n+2)::after {width:0.3125vw;height:0.3125vw;border-radius:0.3906vw;left:2.5000vw;top:-0.1563vw;}
    #roulette .roulette_desc .roulette_desc_item .icon {margin-right:1.4063vw;width: 5.3125vw;}
    #roulette .roulette_desc .roulette_desc_item .icon img {width: 5.3125vw;}

    .gift_list_item {margin-top: 5.1563vw;margin-top: 0;height: 22.8125vw;flex-direction: column;padding: 2.7344vw 0 4.3750vw;}
    #roulette .gift_list_title {border-radius:0.7813vw 0.7813vw 0 0;padding: 0.9375vw 2.6563vw 0 2.6563vw;transform: translateY(-100%);top: 0;left: 4.6875vw;font-size: 1.5625vw;}

    .gift_list {width: 100%;margin-left:4.6875vw;font-size: 1.25vw;}
    .gift_list li:nth-child(2n-1) {margin-right:2.6563vw;}
    .gift_list li {align-items: center;width: 40.7813vw;height: 4.6094vw;}
    .gift_list li .text {line-height:2.0313vw;margin-bottom: 0.4688vw; letter-spacing:-0.1vw}
    .gift_list li .point {font-size:1.1719vw; }
    .gift_list li .quantity {font-size:1.3281vw;width:4.9219vw;height:2.6563vw;border-radius:1.8750vw;line-height: 2.6563vw;}

    .page_init .gift_list li {/* border-bottom: 0.0781vw solid #393939; */}
    .page_point .gift_list { flex-wrap:wrap; width:48.7500vw;}
    .page_point .gift_list li {width:23.4375vw; margin-right:0;}
    .page_point .gift_list li:nth-child(4) .text {/* padding-top:2.0313vw; */}

    .gift_list.col2 { flex-wrap:wrap; width:48.7500vw;}
    .gift_list.col2 li {width:23.4375vw; margin-right:0;}

    .info {font-size:1.0938vw;  margin-left:4.6875vw; margin-top:4.6875vw;}
    .info li p::before {content:'· ';}


    /* game area */
    .game_area {width:39.8438vw;height: 73.2813vw;top: 0;right:2.3438vw;bottom:4.6875vw;left:auto;margin:0;}


    .header_input_box {font-size:1.4063vw;line-height:2.3438vw;padding: 0 3.9063vw;width: 100%;height: 11.7188vw;margin-top: 11.0938vw;}
    .header_input_box input {width:100%;height:4.5313vw;border-radius:0.7813vw;margin-top: 1.2500vw;padding: 0 1.7188vw;font-size: 1.2500vw;}
    .header_input_box .em {font-size:1.7188vw;margin-top: 0.9375vw;}

    .header_input_box.step_more {padding-left:0;padding-right:0;padding-top: 3.5156vw;}
    .header_input_box.step_end {padding-top: 3.5156vw;}
    .header_input_box.step_end p:not(.em) {font-size:1.4844vw;}




    /**/

    .roulette_game.disable {filter: grayscale(100%);pointer-events: none!important;}
    .roulette_game.disable .roulette_cont {background-image:url('/static/img/roulette/roulette_content_gray.png');}
    .roulette_game.disable .roulette_pointer {background-image:url('/static/img/roulette/roulette_point_gray.png');}

    .roulette_game {width:100%;height: 34.8438vw;left:auto;top: 0;right:0;}
    .roulette_game .roulette_bg {width:32.5000vw;height: 100%;background-image:url('/static/img/roulette/roulette_bg.png');margin:0 auto;}
    .roulette_game .roulette_cont {width:32.5000vw;height:32.5000vw;top: 1.3281vw;left:calc(50% - 16.2500vw);background-image:url('/static/img/roulette/roulette_content.png');}
    .roulette_game .roulette_pointer {width:100%; height:7.1094vw;  top:0; left:0; background-image:url('/static/img/roulette/roulette_point.png');}
    #btn_roulette_start {width:10.4688vw;height:10.4688vw;border-radius:50%;background-image:url('/static/img/roulette/roulette_button.png');top: 12.1094vw;left: 14.7656vw;-webkit-box-shadow: 0.0000vw 0.3125vw 1.5625vw -0.2344vw rgba(0,0,0,0.48);box-shadow: 0.0000vw 0.3125vw 1.5625vw -0.2344vw rgba(0,0,0,0.48);}

    #btn_roulette_start span {font-size:1.1719vw; opacity:0.45; }
    #btn_roulette_start .go {font-size:3.2813vw;margin-bottom: 0.2344vw;line-height: 1; opacity:1;}

    .roulette_list {height: 9.5313vw;margin-top: 2.1875vw;flex-direction: column;bottom: 4.6094vw;left: 7.7344vw;}

    .btn_roulette_go {width:24.2188vw; height:3.7500vw;  background:#f0386c; border-radius:1.8750vw; margin:1.0156vw auto 0;   padding:0 2.8125vw; font-size:1.4063vw; line-height:3.4375vw; }
    .btn_roulette_go::after {  width: 0.6250vw; height: 0.6250vw; border-top: 0.1563vw solid #fff; border-right: 0.1563vw solid #fff;  transform: rotate(45deg);  top: 1.4844vw; right:2.4219vw; }

    #btn_go_back {background:#484848;}



    /* 룰렛 결과 */
    .roulette_result {margin: 2.3438vw 0 0 4.6875vw;padding: 1.8750vw 0 0 0;border-top: 0.0781vw solid rgba(255,255,255,0.3);width:40.4688vw;height:21.3281vw;top: 21.7188vw;align-items: center;}
    .roulette_result .point_icon {width:15.0000vw;height:15.0000vw;background-image:url('/static/img/roulette/ico_point.png');flex-direction:column;padding-bottom:0.3125vw;margin-right: 0.7813vw;}
    .roulette_result .point_icon span {  font-size:1.5625vw;   line-height:1;}
    .roulette_result .point_icon .num {font-size:4.6875vw;  margin-bottom:0.1563vw;}
    .roulette_result p {font-size:2.0313vw; line-height:3.5938vw;}

    .try_wrap {  width:4.5313vw; height:2.0313vw; border-radius:1.0156vw; line-height:1.9531vw; line-height:2.0313vw;}


    /* 포인트조회 */

    .input_wrap {width:39.8438vw;height:4.5313vw;margin-top: 1.5625vw;}
    .input_wrap input {width:25.0000vw;height:100%;margin:0;border-radius:0.7813vw 0 0 0.7813vw;}
    .input_wrap button {width:7.0313vw;height:100%;border-radius:0 0.7813vw 0.7813vw 0;font-size: 1.3281vw;}
    .page_point .info {margin-top: 0.7813vw;}
    .page_point .gift_list {width: 48.75vw;}
    .gift_list.col2 {width: 48.75vw;}

    .point_box {width:32.1875vw;height:41.1719vw;border:0.1563vw solid #222;margin:0 auto;margin-top: -1.0156vw;}
    .point_box .img_voucher {width:19.9219vw;height:21.8750vw;margin: 2.9688vw auto -4.0625vw;}
    .point_box .img_voucher img {width:100%;}
    .point_box::before { width:33.9844vw; height:0.4688vw;   top:-0.1563vw; left:-0.8594vw; border-radius:0.3125vw;}
    .point_box .voucher_desc {height: calc(100% - 20.7813vw);padding: 4.2969vw 3.4375vw 0; font-size:1.1719vw;}
    .point_box .voucher_desc ul {padding-left:0.7813vw;}
    .point_box .voucher_desc ul li {margin-bottom:0.9375vw; position:relative}
    .point_box .voucher_desc ul li::before { width:0.3906vw; height:0.3906vw;  top:0.7031vw; left:-0.9375vw; background:#a3a3a3; border-radius:50%;}
    .point_box .voucher_desc .info_email {margin-left:0;font-size:1.0938vw;margin-top: 2.3438vw;}
    .point_box .voucher_desc .info_email a { margin-left:0.3125vw;}

    /* 누적 포인트 리스트 */
    .point_all_wrap {height:6.5625vw;font-size:1.4063vw;padding:0 5.8594vw 0 4.9219vw;border-bottom:0.0781vw dashed #ddd;}
    .point_all_wrap .label::after {content:'|';  margin:0 0.7813vw;}
    .point_num_all { font-size:2.0313vw;}

    .list_wrap {width:calc(100% - 2.1875vw); height:30.3906vw; overflow-y: scroll; margin:1.2500vw 1.0938vw;}
    .list_wrap::-webkit-scrollbar {width: 0.2344vw;}
    .list_wrap::-webkit-scrollbar-thumb {border-radius: 0.7813vw;}
    .list_wrap::-webkit-scrollbar-track {border-radius: 0.7813vw;}

    #point_list {max-width:20.7813vw; margin:0 auto;}
    #point_list tr {border-bottom:0.0781vw dashed #ddd;}
    #point_list td {height:2.9688vw;  font-size:1.2500vw; padding:0 0.9375vw;}
    #point_list tr td:nth-child(2) {font-size:1.0938vw;  }
    #point_list .point_num_daliy {  font-size:1.2500vw;}


    #roulette .layer_cont.page_point {visibility:hidden; top:0;}


    #roulette .roulette_top {height: 24.3750vw;}



}

@media(min-width:1441px) {
    .fixed_wrap .btn_roulette_open {display:none;}
}
@media(max-width:1440px) {
    /* 룰렛 플로팅 배너 */
    .btn_roulette_open {width:10.8333vw;height:10.8333vw;background-image:url('/static/img/roulette/float_btn_roulette.png');border-radius:50%;font-size:0;margin: 0 auto 1.6667vw auto;}
    .fixed_wrap .btn_roulette_open {margin-bottom:1vw;border-radius: 0;}
    .fixed_wrap~.float_wrap.show {height: 62.2222vw;height: 95vw;}
}


/* --- 모바일 메인 --- */
@media(min-width:768px) {
    .roulette_bottom_banner, .btn_roulette_open {display:none;}
}

@media(max-width:767px) {
    .roulette_bottom_banner {width:100%;height: 372px;position:fixed;top:auto;bottom:0;background-image: url('/static/img/roulette/bg_game_m.png'); background-size:cover; background-position:top center; left:0;z-index:9999;transform:translateY(100%);}
    .roulette_bottom_banner::before {content:''; width:100%; height:100%; background-image:url('/static/img/roulette/roulette_game_bg_m.png'); position:absolute; top:0; /*left:0;*/}
    .roulette_bottom_banner.on {transform:translateY(0);transition:transform 0.3s;}

    /* 룰렛 플로팅 배너 */
    .btn_roulette_open {width:78px;height:78px;background-image:url('/static/img/roulette/float_btn_roulette.png');background-size:cover;border-radius:50%;font-size:0;margin: 0 auto 12px auto;}
    .fixed_wrap .btn_roulette_open {margin-bottom:10px;border-radius: 0;}
    .fixed_wrap~.float_wrap.show {height: 62.2222vw;height: 95vw;}

}

/* --- 모바일 팝업 --- */
@media(max-width:767px) {
    #roulette .layer_outer {margin: 0;left: 0;right: 0;top: 0;bottom: auto;padding: 0;display: flex;min-height: 100vh;height: auto;justify-content: center;align-items: center;background-color: transparent;}
    #roulette .layer_outer .layer_cont {position: relative;border-radius:0;width: 100%;max-width: 1200px;height: auto;padding:0;overflow: hidden;background-color: #7538b4;background-image: url('/static/img/roulette/bg_game_bottom_m.png');background-position: top left;background-repeat: no-repeat;background-size: 100% auto;min-height:100vh;}
    #roulette .layer_outer .layer_cont::before {width:100%;height:calc(100vh - 646px);background-color:#222;position:absolute;bottom:0;/* opacity: 0; */}
    #roulette .layer_outer .layer_cont::after {display:none; content: none;width:100%;height:100%;position:absolute;top:0;right:0;bottom:0;left:0;content:'';pointer-events:none;background-image: url('/static/img/roulette/roulette_game_bg_m.png');background-size:100% auto;background-position: top left;background-repeat: no-repeat;}
    .popup-open #roulette.on .layer_cont {animation:showPopupRight 0.3s ease-out;}


    #roulette .layer_outer .layer_cont {height:2376px;}
    #roulette .layer_outer .layer_cont.page_init {background-image: url('/static/img/roulette/bg_game_m.png');}
    #roulette .layer_outer .layer_cont.page_point {background-image: url('/static/img/roulette/bg_game_m.png');}
    #roulette .layer_outer .layer_cont.page_point::after {background-image: url('/static/img/roulette/roulette_point_bg_m.png');}

    @keyframes showPopupRight { 
        0% { transform: translateY(100px);} 
        100% { transform: translateY(0);}
    }

    #roulette .page_init {background-image:url('/static/img/roulette/roulette_game_bg.png'); background-size:100% auto; background-position:top center;}

    /* 헤더 */
    .roulette_wrap {color:#fff;}
    .roulette_wrap .color_yellow {color:#ffeb08;}
    .roulette_wrap .btn_roulette_close {width:48px;height:48px;background-image:none;position:absolute;top: 15px;right: 17px;z-index: 9;font-size: 0;}

    .roulette_wrap .btn_roulette_close::before,
    .roulette_wrap .btn_roulette_close::after {content: ''; display: block; position: absolute; left: 0; top: 50%; width: 100%;height: 4px; border-radius: 2px; background: #fff;}
    .roulette_wrap .btn_roulette_close:before {transform: rotate(45deg);}
    .roulette_wrap .btn_roulette_close:after {transform: rotate(-45deg);}

    .roulette_wrap .roulette_header {position:relative;padding-top: 58px;margin-left: 0;/* overflow:hidden; */text-align: center;width: 640px;margin: 0 auto;padding: 0 0 46px 0;height: auto;border-bottom: 2px solid rgba(255,255,255,0.3);}
    .roulette_wrap .roulette_header .date {width: 360px;height: 50px;background-image: url('/static/img/roulette/date_bg_m.png');background-position: center;padding: 0;margin: 0;left: calc(50% - 180px);position: relative;text-align: center;}
    .roulette_wrap .roulette_header .date p {font-size: 30px;}
    .roulette_wrap .roulette_header h2 {font-size: 56px;font-family:'NotoSansBlack';line-height: 66px;margin-top: 39px;margin-bottom: 17px;display: inline-block;}
    .roulette_wrap .roulette_header p {font-size: 32px;line-height: 44px;font-family:'NotoSansL';}
    .roulette_wrap .roulette_header p .color_yellow {font-family:'NotoSansB';}
    .roulette_wrap .roulette_header p .color_yellow::after {content:' '; display:block;}

    #roulette .roulette_desc {margin: 11px auto 196px auto;padding: 0px 0 0 0;width: 640px;height: auto;font-size: 26px;line-height: 36px;}
    #roulette .roulette_desc .roulette_desc_item {display:flex; align-items:center; position:relative; }
    #roulette .roulette_desc .roulette_desc_item:nth-child(n+2)::after {content:'';width: 6px;height: 6px;background-color:#fff;border-radius:5px;position:absolute;left: 43px;top: -4px;}
    #roulette .roulette_desc .roulette_desc_item .icon {display:block;margin-right: 12px;width: 98px;height: 108px;/* margin-top: -6px; */}
    #roulette .roulette_desc .roulette_desc_item .icon img {width: 98px;margin-top: -6px;margin-left: -3px;}

    .gift_list_item {background-color: #222222;margin-top: 66px;margin-top: 0;height: auto;display: flex;flex-direction: column;justify-content: space-between;padding: 69px 0 56px;position: relative;}
    #roulette .gift_list_title {background-color: transparent;border-radius:10px 10px 0 0;display: block;text-align: center;padding: 0;transform: none;position: relative;top: 0;left: 0;font-size: 32px;}

    .gift_list {width: 640px;margin-left: 40px;margin-top: 34px;margin-bottom: 22px;display: block;flex-wrap:wrap;border-top: 2px solid #3b3b3b;}
    .gift_list li:nth-child(2n-1) {margin-right:34px;}
    .gift_list li {display:flex;align-items: center;justify-content: space-between;margin-bottom: 0;width: 100%;font-size: 26px;line-height: 36px;height: 122px;border-bottom: 2px solid #3b3b3b;}
    .gift_list li .text {line-height: 36px;margin-bottom: 6px;}
    .gift_list li .point {font-size: 22px;color:#f0386c;}
    .gift_list li .quantity {font-size: 26px;width: 120px;height: 50px;background-color:#484848;display:block;text-align:center;border-radius:24px;line-height: 50px;}
    .gift_list .quantity .num {font-family:'NotoSansB';}

    .page_point .gift_list {width:88.88vw;}
    .page_point .gift_list li {height: 89px;width: 100%;margin: 0;}
    .page_point .gift_list li .text {margin-bottom: 2px;}
    .page_point .gift_list li:nth-child(4) .text {padding-top:0;}

    .gift_list.col2 {width:88.88vw;}
    .gift_list.col2 li {height: 89px;width: 100%;margin: 0;}
    .gift_list.col2 li .text {margin-bottom: 2px;}
    .gift_list.col2 li:nth-child(4) .text {padding-top:0;}

    .info {font-size: 22px;color:#757575;line-height: 34px;margin-left: 33px;margin-top: 146px;margin-bottom: 0px;}
    .info li {padding-left:17px; position:relative;}
    .info li p::before {content:'· ';display:block;position:absolute;top: 2px;left: 2px;}


    /* game area */
    .game_area {width: 100%;height: auto;position: static;/* top: 0; *//* right: 0; *//* bottom: auto; */left: 0;margin:0;z-index: 1;padding-top: 43px;}


    .header_input_box {text-align:center;font-size: 28px;line-height: 38px;padding: 0;box-sizing: border-box;width: 640px;height: auto;position: relative;margin: 0 auto 0;}
    .header_input_box input {width:100%;height: 64px;border-radius:10px;margin-top: 27px;padding: 0 22px;font-size: 16px;}
    .header_input_box .em {font-size: 32px;line-height: 44px;font-family:'NotoSansB';margin-top: 22px;}

    .header_input_box.step_more {padding-left:0;padding-right:0;padding-top: 0;margin-bottom: -23px;}
    .header_input_box.step_end {padding-top: 45px;}
    .header_input_box.step_end p:not(.em) {font-size: 28px;line-height: 5.555vw;}




    /**/

    .roulette_game.disable {filter: grayscale(100%);pointer-events: none!important;}
    .roulette_game.disable .roulette_cont {background-image:url('/static/img/roulette/roulette_content_gray.png');}
    .roulette_game.disable .roulette_pointer {background-image:url('/static/img/roulette/roulette_point_gray.png');}

    .roulette_game {width:100%;height: auto;position:relative;left:auto;margin-top: 32px;right:0;z-index: 99;}
    .roulette_game .roulette_bg {width: 497px;height: 532px;background-image:url('/static/img/roulette/roulette_bg.png');background-position: center;background-repeat:no-repeat;background-size: contain;margin:0 auto;}
    .roulette_game .roulette_cont {width: 497px;height: 497px;position:absolute;top: 21px;left: calc(50% - 248px);background-image:url('/static/img/roulette/roulette_content.png');background-position:center;background-size: contain;background-repeat:no-repeat;}
    .roulette_game .roulette_pointer {width:100%;height: 108px;position:absolute;top:0;left:0;background-image:url('/static/img/roulette/roulette_point.png');background-position:center;background-size: contain;background-repeat:no-repeat;}
    #btn_roulette_start {width:134px;height:134px;border-radius:50%;background-image:url('/static/img/roulette/roulette_button.png');background-size:cover;background-position:center;position:absolute;top: 200px;left: calc(50% - 67px);-webkit-box-shadow: 0px 4px 20px -3px rgba(0,0,0,0.48);box-shadow: 0px 4px 20px -3px rgba(0,0,0,0.48);}

    #btn_roulette_start span {display:block;font-size:15px; opacity:0.45; color:#fff;}
    #btn_roulette_start .go {font-family:'NotoSansBlack';font-size:42px;margin-bottom: 3px;line-height: 1; opacity:1;}

    .roulette_list {position: absolute;width: 640px;height: 180px;left: calc(50% - 320px);margin-top: 0;margin: 0;display: flex;flex-direction: column;justify-content: flex-end;bottom: 690px;}

    .btn_roulette_go {width: 100%;height: 80px;display:block;background:#f0386c;border-radius: 40px;margin: 0;color:#fff;text-align:left;padding:0 36px;font-size: 28px;line-height:44px;position:relative;text-align: center;}
    .btn_roulette_go::after {content: '';width: 15px;height: 15px;border-top: 3px solid #fff;border-right: 3px solid #fff;display: inline-block;transform: rotate(45deg);position: relative;top: -1px;right: 0;margin-left: 5px;}

    #btn_go_back {background: #222222;margin-top: 20px;}



    /* 룰렛 결과 */
    .roulette_result {margin: 0px 0 0 40px;padding: 25px 0 9px 68px;border: 2px solid rgba(255,255,255,0.3);border-radius: 32px;width: 640px;height: auto;position:absolute;top: 1169px;display: flex;align-items: center;box-sizing: border-box;}
    .roulette_result .point_icon {display:block;width: 192px;height: 192px;background-image:url('/static/img/roulette/ico_point.png');display:flex;flex-direction:column;justify-content:center;padding-bottom:4px;margin-right: 0;/* background-color: #ff000036; */background-size: contain;}
    .roulette_result .point_icon span {display:block; text-align:center; font-size:20px; font-family:'NotoSansL'; color:#222; line-height:1;}
    .roulette_result .point_icon .num {font-size:60px; font-family:'NotoSansBlack'; margin-bottom:2px;}
    .roulette_result p {font-size: 34px;line-height: 50px;width: 360px;padding-left: 50px;margin-top: -10px;}
    .roulette_result p .color_yellow {font-family:'NotoSansB';}

    .try_wrap {background-color:#222;display:inline-block;width: 84px;height: 40px;border-radius: 20px;line-height: 40px;}
    .try_wrap .try_num {font-family:'NotoSansB';}


    /* 포인트조회 */

    .input_wrap {width: 640px;height: 64px;display:flex;margin-top: 27px;}
    .input_wrap input {width: 530px;height:100%;margin:0;border-radius:10px 0 0 10px;font-size: 26px;}
    .input_wrap button {width: 110px;height:100%;background-color:#222;border-radius:0 10px 10px 0;font-size: 26px;}
    .page_point .info {margin-top: 10px;}
    .btn_input_go {color:#fff;}

    .input_wrap.disable #btn_roulette_point {background-color: #bbb;}

    .point_box {width: 620px;height: 552px;background-color: #ffffff;border:2px solid #222;margin:0 auto;position:relative;box-sizing:border-box;color:#222;margin-top: 32px;margin-bottom: 29px;}
    .point_box:not(.on) {display:none;}
    .point_box.on {display:block;}
    .point_box .img_voucher {width: 280px;height:280px;margin: 38px auto -52px;}
    .point_box::before {content:'';width: 640px;height:6px;background-color:#222;position:absolute;top:-2px;left:-11px;border-radius: 6px;}
    .point_box .voucher_desc {background-color: #f6f6f6;height: calc(100% - 266px);padding: 91px 0 20px 29px;font-size:15px;}
    .point_box .voucher_desc ul {padding-left: 12px;font-size: 22px;line-height: 32px;}
    .point_box .voucher_desc ul li {margin-bottom:12px; position:relative}
    .point_box .voucher_desc ul li::before {content:'';width:5px;height:5px;position:absolute;top: 15px;left:-12px;background:#a3a3a3;border-radius:50%;}
    .point_box .voucher_desc ul li br {display:none;}
    .point_box .voucher_desc .info_email {margin-left: 12px;font-size: 22px;color:#7e7e7e;margin-top: 0;margin-bottom: 30px;display: block;}
    .point_box .voucher_desc .info_email a {display:inline-block; margin-left:4px;}

    /* 누적 포인트 리스트 */
    .point_all_wrap {background-color:#e7e7e7;height:84px;display:flex;justify-content:center;align-items:center;font-size: 24px;display:flex;justify-content:space-between;padding: 0 98px 0 98px;border-bottom:1px dashed #ddd;}
    .point_all_wrap .label::after {content:'|';display:inline-block;margin: 0 84px;color: #d0d0d0;}
    .point_num_all {font-family:'NotoSansB';font-size: 32px;}
    .point_num_all::after {content:' ';}

    .list_wrap {width:calc(100% - 28px); height:389px; overflow-y: scroll; margin:16px 14px; scrollbar-shadow-color:#fff;
        scrollbar-darkshadow-color:#eee;scrollbar-arrow-color:#dfdfdf;scrollbar-3dlight-color:#ffffff;}
    .list_wrap::-webkit-scrollbar {width: 3px;}
    .list_wrap::-webkit-scrollbar-thumb {background-color: #2f3542;border-radius: 10px;}
    .list_wrap::-webkit-scrollbar-track {background-color: grey;border-radius: 10px;}

    #point_list {max-width: 468px;margin:0 auto;}
    #point_list tr {border-bottom:1px dashed #ddd;}
    #point_list td {height: 60px;vertical-align:middle;font-size: 22px;padding: 0 24px;}
    #point_list tr td:nth-child(2) {font-size: 22px;color:#b5b5b5;text-align:right;}
    #point_list .point_num_daliy {font-family:'NotoSansB';color:#f0386c;font-size: 22px;}
    #point_list .point_num_daliy::after {content:' ';}


    #roulette .layer_cont.page_point {visibility:hidden;position: absolute; top:0;}


    #roulette .roulette_top {height: auto;box-sizing:border-box;}

}

/* 모바일 vw */


@media(max-width:767px) {
    .roulette_bottom_banner {width:100%;height: 51.6667vw;top:auto;bottom:0;background-image: url('/static/img/roulette/bg_game_m.png');   left:0;transform:translateY(100%);}
    .roulette_bottom_banner::before { width:100%; height:100%; background-image:url('/static/img/roulette/roulette_game_bg_m.png');  top:0; elft:0;}
    .roulette_bottom_banner.on {transform:translateY(0);transition:transform 0.3s;}

    /* 룰렛 플로팅 배너 */
    .btn_roulette_open {width:10.8333vw;height:10.8333vw;background-image:url('/static/img/roulette/float_btn_roulette.png');border-radius:50%;font-size:0;margin: 0 auto 1.6667vw auto;}
    .fixed_wrap .btn_roulette_open {margin-bottom:1.3889vw;border-radius: 0;}
    .fixed_wrap~.float_wrap.show {height: 62.2222vw;height: 95vw;}

}

/* --- 모바일 팝업 --- */
@media(max-width: 767px) {
    #roulette .layer_outer {margin: 0;left: 0;right: 0;top: 0;bottom: auto;padding: 0;min-height: 100vh;height: auto;}
    #roulette .layer_outer .layer_cont {border-radius:0;width: 100%;max-width: 166.6667vw;height: auto;padding:0;background-image: url('/static/img/roulette/bg_game_bottom_m.png');background-size: 100% auto;min-height:100vh;}
    #roulette .layer_outer .layer_cont::before {width:100%;height: 20vw;bottom:0;/* opacity: 0; */}
    #roulette .layer_outer .layer_cont::after {width:100%;height:100%;top:0;right:0;bottom:0;left:0;pointer-events:none;background-image: url('/static/img/roulette/roulette_game_bg_m.png');background-size:100% auto;}
    .popup-open #roulette.on .layer_cont {animation:showPopupRight 0.3s ease-out;}


    #roulette .layer_outer .page_init.layer_cont {height:100%;}
    #roulette .layer_outer .page_point.layer_cont {height: 330vw;}
    #roulette .layer_outer .layer_cont.page_init {background-image: url('/static/img/roulette/bg_game_m.png');}
    #roulette .layer_outer .layer_cont.page_point {background-image: url('/static/img/roulette/bg_game_m.png');}
    #roulette .layer_outer .layer_cont.page_point::after {background-image: url('/static/img/roulette/roulette_point_bg_m.png');}

    @keyframes showPopupRight { 
        0% { transform: translateY(13.8889vw);} 
        100% { transform: translateY(0);}
    }

    #roulette .page_init {background-image:url('/static/img/roulette/roulette_game_bg.png'); background-size:100% auto; }

    /* 헤더 */
    .roulette_wrap .btn_roulette_close {width:6.6667vw;height:6.6667vw;background-image:none;top: 2.0833vw;right: 2.3611vw;font-size: 0;}

    .roulette_wrap .btn_roulette_close::before,
    .roulette_wrap .btn_roulette_close::after {   left: 0; top: 50%; width: 100%;height: 0.5556vw; border-radius: 0.2778vw; background: #fff;}
    .roulette_wrap .btn_roulette_close:before {transform: rotate(45deg);}
    .roulette_wrap .btn_roulette_close:after {transform: rotate(-45deg);}

    .roulette_wrap .roulette_header {padding-top: 8.0556vw;margin-left: 0;/*  */width: 88.8889vw;margin: 0 auto;padding: 0 0 6.3889vw 0;height: auto;border-bottom: 0.2778vw solid rgba(255,255,255,0.3);}
    .roulette_wrap .roulette_header .date {width: 50.0000vw;height: 6.9444vw;background-image: url('/static/img/roulette/date_bg_m.png');padding: 0;margin: 0;left: calc(50% - 25.0000vw);}
    .roulette_wrap .roulette_header .date p {font-size: 4.1667vw;}
    .roulette_wrap .roulette_header h2 {font-size: 7.7778vw;line-height: 9.1667vw;margin-top: 5.4167vw;margin-bottom: 2.3611vw;text-align: center;}
    .roulette_wrap .roulette_header p {font-size: 4.4444vw;line-height: 6.1111vw;}

    #roulette .roulette_desc {margin: 1.5278vw auto 27.2222vw auto;padding: 0.0000vw 0 0 0;width: 88.8889vw;height: auto;font-size: 3.6111vw;line-height: 5.0000vw;}
    #roulette .roulette_desc .roulette_desc_item { align-items:center;  }
    #roulette .roulette_desc .roulette_desc_item:nth-child(n+2)::after {width: 0.8333vw;height: 0.8333vw;border-radius:0.6944vw;left: 5.9722vw;top: -0.5556vw;}
    #roulette .roulette_desc .roulette_desc_item .icon {margin-right: 1.6667vw;width: 13.6111vw;height: 15.0000vw;overflow: hidden;}
    #roulette .roulette_desc .roulette_desc_item .icon img {width: 13.6111vw;margin-top: -0.8333vw;margin-left: -0.4167vw;}
    #roulette .roulette_desc .roulette_desc_item p {width:calc(100% - 14vw);}


    


    .gift_list_item {margin-top: 9.1667vw;margin-top: 0;height: auto;flex-direction: column;padding: 9.5833vw 0 7.7778vw;}
    #roulette .gift_list_title {border-radius:1.3889vw 1.3889vw 0 0;padding: 0;transform: none;top: 0;left: 0;font-size: 4.4444vw;}

    .gift_list {width: 88.8889vw;margin-left: 5.5556vw;margin-top: 4.7222vw;margin-bottom: 3.0556vw;flex-wrap:wrap;border-top: 0.2778vw solid #3b3b3b;}
    .gift_list li:nth-child(2n-1) {margin-right:4.7222vw;}
    .gift_list li {align-items: center;margin-bottom: 0;width: 100%;font-size: 3.6111vw;line-height: 5.0000vw;height: 16.9444vw;border-bottom: 0.2778vw solid #3b3b3b;}
    .gift_list li .text {line-height: 5.0000vw;margin-bottom: 0.8333vw;}
    .gift_list li .point {font-size: 3.0556vw;}
    .gift_list li .quantity {font-size: 3.6111vw;width: 16.6667vw;height: 6.9444vw;border-radius:3.3333vw;line-height: 6.9444vw;}
    .page_point .gift_list li {height: 12.3611vw;width: 100%;margin: 0;}
    .page_point .gift_list li .text {margin-bottom: 0.2778vw;}
    .page_point .gift_list li:nth-child(4) .text {padding-top:0;}

    .gift_list.col2 li {height: 12.3611vw;width: 100%;margin: 0;}
    .gift_list.col2 li .text {margin-bottom: 0.2778vw;}
    .gift_list.col2 li:nth-child(4) .text {padding-top:0;}

    .page_init .info {margin-top: 4.5vw;}
    .info {font-size: 3.0556vw;line-height: 4.7222vw;margin-left: 4.5833vw;margin-top: 20.2778vw;margin-bottom: 0.0000vw;}
    .info li {padding-left:2.3611vw; }
    .info li p::before {content:'· ';top: 0.2778vw;left: 0.2778vw;}


    /* game area */
    .game_area {width: 100%;height: auto;/* top: 0; *//* right: 0; *//* bottom: auto; */left: 0;margin:0;padding-top: 5.9722vw;}


    .header_input_box {font-size: 3.8889vw;line-height: 5.2778vw;padding: 0;width: 88.8889vw;height: auto;margin: 0 auto 0;}
    .header_input_box input {width:100%;height: 8.8889vw;border-radius:1.3889vw;margin-top: 3.7500vw;padding: 0 3.0556vw;font-size: 3.6111vw;line-height: 8.8889vw;}
    .header_input_box .em {font-size: 4.4444vw;line-height: 6.1111vw;margin-top: 3.0556vw;}

    .header_input_box.step_more {padding-left:0;padding-right:0;padding-top: 0;margin-bottom: -3.1944vw;}
    .header_input_box.step_end {padding-top: 6.2500vw;}
    .header_input_box.step_end p:not(.em) {font-size: 3.8888vw;}




    /**/

    .disable .roulette_game {filter: grayscale(100%);pointer-events: none!important;}
    .disable .roulette_game .roulette_cont {background-image:url('/static/img/roulette/roulette_content_gray.png');}
    .disable .roulette_game .roulette_pointer {background-image:url('/static/img/roulette/roulette_point_gray.png');}

    .roulette_game {width:100%;height: auto;left:auto;margin-top: 4.4444vw;right:0;}
    .roulette_game .roulette_bg {width: 69.0278vw;height: 73.8889vw;background-image:url('/static/img/roulette/roulette_bg.png');margin:0 auto;}
    .roulette_game .roulette_cont {width: 69.0278vw;height: 69.0278vw;top: 2.9167vw;left: calc(50% - 34.4444vw);background-image:url('/static/img/roulette/roulette_content.png');}
    .roulette_game .roulette_pointer {width:100%;height: 15.0000vw;top:0;left:0;background-image:url('/static/img/roulette/roulette_point.png');}
    #btn_roulette_start {width:18.6111vw;height:18.6111vw;border-radius:50%;background-image:url('/static/img/roulette/roulette_button.png');top: 27.7778vw;left: calc(50% - 9.3056vw);-webkit-box-shadow: 0.0000vw 0.5556vw 2.7778vw -0.4167vw rgba(0,0,0,0.48);box-shadow: 0.0000vw 0.5556vw 2.7778vw -0.4167vw rgba(0,0,0,0.48);}

    #btn_roulette_start span {font-size:2.0833vw; opacity:0.45; }
    #btn_roulette_start .go {font-size:5.8333vw;margin-bottom: 0.4167vw;line-height: 1; opacity:1;}

    .roulette_list {width: 88.8889vw;height: 25.0000vw;left: calc(50% - 44.4444vw);margin-top: 0;margin: 0;flex-direction: column;bottom: 107.9167vw;}
    .page_point .roulette_list {/* bottom:100vw; */}
    .btn_roulette_go {width: 100%;height: 11.1111vw;background:#f0386c;border-radius: 5.5556vw;margin: 0;padding:0 5.0000vw;font-size: 3.8889vw;line-height:6.1111vw;}
    .btn_roulette_go::after {width: 2.0833vw;height: 2.0833vw;border-top: 0.4167vw solid #fff;border-right: 0.4167vw solid #fff;transform: rotate(45deg);top: -0.1389vw;right: 0;margin-left: 0.6944vw;}

    #btn_go_back {background: #222222;margin-top: 2.7778vw;}



    /* 룰렛 결과 */
    .roulette_result {margin: 0.0000vw 0 0 5.5556vw;padding: 3.4722vw 0 1.2500vw 9.4444vw;border: 0.2778vw solid rgba(255,255,255,0.3);border-radius: 4.4444vw;width: 88.8889vw;height: auto;top: 162.3611vw;align-items: center;}
    .roulette_result .point_icon {width: 26.6667vw;height: 26.6667vw;background-image:url('/static/img/roulette/ico_point.png');flex-direction:column;padding-bottom:0.5556vw;margin-right: 0;/*  */}
    .roulette_result .point_icon span {  font-size:2.7778vw;   line-height:1;}
    .roulette_result .point_icon .num {font-size:8.3333vw;  margin-bottom:0.2778vw;}
    .roulette_result p {font-size: 4.7222vw;line-height: 6.9444vw;width: 50.0000vw;padding-left: 6.9444vw;margin-top: -1.3889vw;}

    .try_wrap {width: 11.6667vw;height: 5.5556vw;border-radius: 2.7778vw;line-height: 5.5556vw;}


    /* 포인트조회 */

    .input_wrap {width: 88.8889vw;height: 8.8889vw;margin-top: 3.7500vw;}
    .input_wrap input {width: 73.6111vw;height:100%;margin:0;border-radius:1.3889vw 0 0 1.3889vw;font-size: 3.6111vw;}
    .input_wrap button {width: 15.2778vw;height:100%;border-radius:0 1.3889vw 1.3889vw 0;font-size: 3.6111vw;}
    .page_point .info {margin-top: 1.3889vw;width: 88.88vw;}

    .point_box {width: 86.1111vw;height: 76.6667vw;border:0.2778vw solid #222;margin:0 auto;margin-top: 4.4444vw;margin-bottom: 4.0278vw;position: relative;}
    .point_box .img_voucher {width: 38.8889vw;height:38.8889vw;margin: 5.2778vw auto -7.2222vw;}
    .point_box::before {width: 88.8889vw;height:0.8333vw;top:-0.2778vw;left:-1.5278vw;border-radius: 0.8333vw;}
    .point_box .voucher_desc {height: calc(100% - 36.9444vw);padding: 12.6389vw 0 2.7778vw 4.0278vw;font-size:2.0833vw;}
    .point_box .voucher_desc ul {padding-left: 1.6667vw;padding-right: 1.5vw;font-size: 3.0556vw;line-height: 4.4444vw;}
    .point_box .voucher_desc ul li {margin-bottom:1.6667vw; position:relative}
    .point_box .voucher_desc ul li::before {width:0.6944vw;height:0.6944vw;top: 2.0833vw;left:-1.6667vw;background:#a3a3a3;border-radius:50%;}
    .point_box .voucher_desc .info_email {margin-left: 1.6667vw;font-size: 3.0556vw;margin-top: 0;margin-bottom: 4.1667vw;}
    .point_box .voucher_desc .info_email a { margin-left:0.5556vw;}

    /* 누적 포인트 리스트 */
    .point_all_wrap {height:11.6667vw;font-size: 3.3333vw;padding: 0 13.6111vw;/* padding: 0 5vw; */border-bottom:0.1389vw dashed #ddd;}
    .point_all_wrap .label::after {content:'|';margin: 0 11.6667vw;}
    .point_num_all {font-size: 4.4444vw;}

    .list_wrap {width:calc(100% - 3.8889vw);height:54.0278vw;height: calc(100% - 15vw);overflow-y: scroll;margin:2.2222vw 1.9444vw;}
    .list_wrap::-webkit-scrollbar {width: 0.4167vw;}
    .list_wrap::-webkit-scrollbar-thumb {border-radius: 1.3889vw;}
    .list_wrap::-webkit-scrollbar-track {border-radius: 1.3889vw;}

    #point_list {max-width: 65.0000vw;margin:0 auto;}
    #point_list tr {border-bottom:0.1389vw dashed #ddd;}
    #point_list td {height: 8.3333vw;font-size: 3.0556vw;padding: 0 3.3333vw;}
    #point_list tr td:nth-child(2) {font-size: 3.0556vw;}
    #point_list .point_num_daliy {font-size: 3.0556vw;}
    #roulette .layer_cont.page_point {visibility:hidden; top:0;}


    #roulette .roulette_top {height: auto;}

    #roulette .page_init .roulette_desc {margin-bottom:50vw;}
    .page_init .roulette_list {bottom:690px; bottom:95.8333vw;}
    .roulette_result {margin-top:5vw;}
    #roulette .page_init .before_game:not(.disable) ~ .roulette_desc {margin-bottom:27.2222vw;}
    .page_init .before_game:not(.disable) .roulette_list {/* bottom:107.9167vw; */bottom: 688px;bottom: 95.5555vw;}

    .page_point.off {max-height:100vh;}

}