/* 220103 benefit 섹션 추가 */
/* kgs */
.kgs .benefit_area {padding:82px 0 100px 0; margin:80px 0 0 0;background-color:#f7f7f7;}
.kgs .benefit_area h2 {font-size: 48px;text-align: center;margin-bottom: 46px;}
.kgs .benefit_area .inner {max-width:1200px; width:100%; margin:0 auto;}

/* main */
.main .benefit_area .inner {max-width:1200px; width:100%; margin:0 auto;}
.main .benefit_area .inner .btn_list {margin-bottom:32px;}


div.btn_list {display:flex; justify-content: space-between;}
div.btn_list .btn_benefit {display:block;position:relative;width:291px;width: calc(33.33% - 9px);height: 170px;overflow:visible;border-radius: 24px;padding:24px 30px;}
div.btn_list .btn_benefit:nth-child(1) {background-color:#b9def4;}
div.btn_list .btn_benefit:nth-child(2) {background-color:#faddb1;}
div.btn_list .btn_benefit:nth-child(3) {background-color:#ffd0c7;}
div.btn_list .btn_benefit:nth-child(4) {background-color:#edcffa;}
div.btn_list .btn_benefit .title {display: block;font-size:20px;line-height:1.4;color: #333;}
div.btn_list .btn_benefit .thumb {width:140px; height:140px; position:absolute; right:0; bottom:-14px;}
div.btn_list .btn_benefit .btn_view {width:36px;height:36px;position:absolute;padding: 0;top: 104px;left: 30px;}
div.btn_list .btn_benefit .btn_view::after {top:14px;right: 16px;width: 7px;height: 7px;}
div.btn_list .btn_benefit img {width:100%;}
div.btn_list .btn_benefit:nth-child(1) .btn_view::after{border-color:#b9def4;}
div.btn_list .btn_benefit:nth-child(2) .btn_view::after{border-color:#faddb1;}
div.btn_list .btn_benefit:nth-child(3) .btn_view::after{border-color:#ffd0c7;}
div.btn_list .btn_benefit:nth-child(4) .btn_view::after{border-color:#edcffa;}
div.btn_list .btn_benefit:hover .btn_view {background-color:#f0386c;}


.survey {display:flex;align-items: center;width:100%;max-width:1200px;margin:56px auto 0 auto;padding: 20px 0;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;position:relative;}
.survey .img_wrap {width:291px;height:136px;overflow:hidden;border-radius: 16px;margin-right:40px;background-image:url('/static/img/kgs/btn_survey.png');background-size: auto 100%;background-position:center;}
.survey .img_wrap img {width:100%;}
.survey .text_wrap {width:390px}
.survey .title {font-size:16px; color:#757575;}
.survey .name {color:#333; font-size:24px;}
.survey .name span {font-family: 'NotoSansB';}
.survey::after {content:''; width:15px; height:25px; background-size:contain; background-repeat: no-repeat; margin:0; z-index:999; position:absolute; right:0; top:50%; transform:translateY(-50%); background-image:url('/static/img/common/ico_arrow_next_bk.png');opacity:0.15;}
.survey:hover::after {opacity:1;}

@media(min-width:768px) and (max-width:1280px) {

    /* kgs */
    .kgs .benefit_area {padding:6.4063vw 0 7.8125vw 0; margin:6.2500vw 0 0 0;}
    .kgs .benefit_area h2 {font-size: 3.7500vw;margin-bottom: 3.5938vw;}
    .kgs .benefit_area .inner {max-width:93.7500vw; width:100%; margin:0 auto;}

    /* main */
    .main .benefit_area .inner {max-width:93.7500vw; width:100%; margin:0 auto;}
    .main .benefit_area .inner .btn_list {margin-bottom:2.5vw;}
    
    div.btn_list .btn_benefit {width: calc(33.33% - 0.7031vw);height: 13.2813vw;border-radius: 1.8750vw;padding:1.8750vw 2.3438vw;}
    div.btn_list .btn_benefit .title {font-size:1.5625vw;line-height:1.4;}
    div.btn_list .btn_benefit .thumb {width:10.9375vw; height:10.9375vw;  right:0; bottom:-1.0938vw;}
    div.btn_list .btn_benefit .btn_view {width:2.8125vw;height:2.8125vw;padding: 0;top: 8.1250vw;left: 2.3438vw;}
    div.btn_list .btn_benefit .btn_view::after {top:1.0938vw;right: 1.2500vw;width: 0.5469vw;height: 0.5469vw;}



    .survey {align-items: center;width:100%;max-width:93.7500vw;margin:4.3750vw auto 0 auto;padding: 1.5625vw 0;border-top:0.0781vw solid #ebebeb;border-bottom:0.0781vw solid #ebebeb;}
    .survey .img_wrap {width:22.7344vw;height:10.6250vw;border-radius: 1.2500vw; margin-right:3.1250vw;}
    .survey .text_wrap {width:30.4688vw}
    .survey .title {font-size:1.2500vw; }
    .survey .name { font-size:1.8750vw;}
    .survey::after { width:1.1719vw; height:1.9531vw;   margin:0;   right:0; top:50%; transform:translateY(-50%); background-image:url('/static/img/common/ico_arrow_next_bk.png');opacity:0.15;}
    .survey:hover::after {opacity:1;}

}

@media(max-width:767px) {
    /* kgs */
    .kgs .benefit_area {background-color:#f7f7f7;padding: 82px 0 80px 0;margin:80px 0 0 0;}
    .kgs .benefit_area h2 {font-size: 56px;text-align: center;margin-bottom: 46px;}
    .kgs .benefit_area .inner {max-width:640px;}
    .main .benefit_area .inner {max-width:640px;}


    .btn_list {flex-wrap:wrap;}
    .btn_list .btn_benefit {width:310px; height:210px;overflow:visible;border-radius: 20px;padding:24px 30px;}
    .btn_list .btn_benefit:nth-child(n+3) {margin-top:20px;}
    .btn_list .btn_benefit .title {font-size:28px; line-height:1.28;}
    .btn_list .btn_benefit .thumb {width:140px; height:140px; position:absolute; right:0; bottom:-14px;}
    .btn_list .btn_benefit .btn_view {width:36px;height:36px;position:absolute;padding: 0;top: 142px;left: 30px;}
    .btn_list .btn_benefit .btn_view::after {top:14px;right: 16px;width: 7px;height: 7px;}

    .survey {width:640px;margin: 80px auto 0 auto;border-top:1px solid #ebebeb;}
    .survey .img_wrap {width:200px; height:136px; margin-right:30px;}
    .survey .text_wrap {width:390px}
    .survey .title {font-size:22px}
    .survey .name {font-size:30px}
}

@media(max-width:767px) {
    
    .kgs .benefit_area {padding: 11.3889vw 0 11.1111vw 0;margin:11.1111vw 0 0 0;}
    .kgs .benefit_area h2 {font-size: 7.7778vw;margin-bottom: 6.3889vw;}
    .kgs .benefit_area .inner {max-width:88.8889vw;}

    /* main */
    .main .benefit_area .inner {max-width:88.8889vw;}
    .main .benefit_area .inner .btn_list {margin-bottom:5.556vw;}

    
    div.btn_list {flex-wrap:wrap;}
    div.btn_list .btn_benefit {width: 100%;height:29.1667vw;border-radius: 2.7778vw;padding:3.3333vw 4.1667vw;}
    div.btn_list .btn_benefit:nth-child(n+2) {margin-top:2.7778vw;}
    div.btn_list .btn_benefit .title {font-size:3.8889vw;/* line-height:5vw; */}
    div.btn_list .btn_benefit .thumb {width:19.4444vw; height:19.4444vw;  right:0; bottom:-1.9444vw;}
    div.btn_list .btn_benefit .btn_view {width:5.0000vw;height:5.0000vw;padding: 0;top: 19.7222vw;left: 4.1667vw;}
    div.btn_list .btn_benefit .btn_view::after {top:1.9444vw;right: 2.2222vw;width: 0.9722vw;height: 0.9722vw;}
    div.btn_list .btn_benefit img {width:100%} 

    .survey {width:88.8889vw;margin: 11.1111vw auto 0 auto;border-top:0.1389vw solid #ebebeb;}
    .survey .img_wrap {width:27.7778vw; height:18.8889vw; margin-right:4.1667vw;}
    .survey .text_wrap {width:54.1666vw;}
    .survey .title {font-size:3.0556vw}
    .survey .name {font-size:4.1667vw}
}