@charset "utf-8";
/* [s] 공통가이드 페이지에서만 사용 공통으로 사용 할껀 아래에 넣기 */

.Guide { width:1200px; min-height:1200px; margin:0 auto; }
.colorguide div { display:inline-block; font-size: 20px; } 
.colorguide .col_name { display: block; } 
.colorguide div.col_wh { color:#000; } 
.colorguide div span { display: block; color:#fff; } 
.colorguide div.col_wh span { border:1px solid #000; color:#000; } 
.colorguide div span.bd_col { border:1px solid; } 
.buttonguide div { margin-bottom:10px; } 
.inputnguide div { position:relative; } 
.inputnguide .text_box input { width:550px; margin-bottom:5px; } 
.inputnguide .page_box { margin-top:10px; } 
.inputnguide ul.root_list { margin:20px 0; } 
.inputnguide .select_box { width:200px; display: inline-block; } 
.inputnguide .select_box .box {/* width:200px */} 
.layer_popup.scroll .scroll_box { height:520px; }

/* [e] 공통가이드 페이지에서만 사용 공통으로 사용 할껀 아래에 넣기 */


/* =========================================== [s] 공통요소 ==================================================*/
/* common */
section { margin:20px 0; } 
h2 { font-size:30px; font-family:'NotoSansB'; }
h3 { font-size:20px; font-family:'NotoSansB'; }

/* color */
.col_gr { color:#00ccad; } 
.col_gr1 { color:#00d1ab; } 
.col_em { color:#7fe5d6; } 
.col_red { color:#f0386c; } 
.col_bl { color:#00bed4; } 
.col_bk { color:#000; } 
.col_bk1 { color:#232323; } 
.col_bk2 { color:#666666; } 
.col_bk3 { color:#999999; } 
.col_bk4 { color:#bababa; } 
.col_bk5 { color:#dddddd; } 
.col_bk6 { color:#e7e7e7; } 
.col_bk7 { color:#f7f7f7; } 
.col_wh {color:#fff;} 

/* background-color */
.bg_col_gr { background-color:#00ccad; } 
.bg_col_gr1 { background-color:#00d1ab; } 
.bg_col_gr_h { background-color:#01ac8d; } /* hover */
.bg_col_gr_d { background-color:#7fe5d6; } /* disabled */
.bg_col_em { background-color:#7fe5d6; } 
.bg_col_red { background-color:#f0386c; } 
.bg_col_red_h { background-color:#e93332; } 
.bg_col_red_d { background-color:#fca9a9; } 
.bg_col_bl { background-color:#00bed4; } 
.bg_col_bk { background-color:#000; } 
.bg_col_bk1 { background-color:#333; } 
.bg_col_bk2 { background-color:#666666; } 
.bg_col_bk3 { background-color:#999999; } 
.bg_col_bk4 { background-color:#bababa; } 
.bg_col_bk5 { background-color:#dddddd; } 
.bg_col_bk6 { background-color:#e7e7e7; } 
.bg_col_bk7 { background-color:#f7f7f7; } 
.bg_col_wh { background-color:#fff } 

/* border-color */
.bd_col_gr {border-color:#00ccad !important;} 
.bd_col_gr1 { border-color:#00d1ab !important; } 
.bd_col_em { border-color:#7fe5d6 !important; } 
.bd_col_red { border-color:#fa5453 !important; } 
.bd_col_bl { border-color:#00bed4 !important; } 
.bd_col_bk { border-color:#000 !important; } 
.bd_col_bk1 { border-color:#232323 !important; } 
.bd_col_bk2 { border-color:#666666 !important; } 
.bd_col_bk3 { border-color:#999999 !important; } 
.bd_col_bk4 { border-color:#bababa !important; } 
.bd_col_bk5 { border-color:#dddddd !important; } 
.bd_col_bk6 { border-color:#e7e7e7 !important; } 
.bd_col_bk7 { border-color:#f7f7f7 !important; } 
.bd_col_wh { border-color:#fff !important; } 

/* button - 공통 */
button {font-family:'NotoSansR';}

/* center slider */
.center_slider.swiper-container {width: 100%;margin: 0 auto;overflow: hidden;height: 480px;}
.center_slider .swiper-wrapper {align-items: flex-end;}
.center_slider .swiper-slide {display: flex;flex-direction:column; justify-content: flex-end;align-items: flex-end;width: auto;overflow:visible;height:auto;}
.center_slider .swiper-slide .slide_cont {display:block; padding-left:24px; padding-right:24px; width:330px;}
.center_slider .swiper-slide .slide_cont .img_wrap {position:relative;border-radius: 24px;overflow: hidden;width: 100%;height: 0;padding-top: 100%;background-size: cover;}
.center_slider .swiper-slide .slide_cont .img_wrap a {width:100%;height:100%;display:block;position: absolute;top: 0;}
.center_slider .swiper-slide .slide_cont .txt_wrap {position:relative;}
.center_slider .swiper-slide .slide_cont:nth-child(2) {position:absolute;top: 184px;left: 36px;}

.center_slider .swiper-slide .slide_cont .txt_wrap {opacity:0;pointer-events:none;}
.center_slider .swiper-slide-active .slide_cont .txt_wrap,
.center_slider .swiper-slide-prev .slide_cont .txt_wrap,
.center_slider .swiper-slide-next .slide_cont .txt_wrap {opacity:1;pointer-events:auto;}

.center_slider .changing .slide_cont .txt_wrap {transition:opacity 0.3s;}
.center_slider .changed .slide_cont .txt_wrap {transition: none;}
.center_slider .changing,
.center_slider .changed {transform: translateX(-51px); -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.center_slider .changing {transition: width 0.3s;pointer-events: none !important; }
.center_slider .changed {transition: none;}
.center_slider .changing .slide_cont{transition: width 0.3s;}
.center_slider .changed .slide_cont{transition: none;}
.center_slider .changing.swiper-slide-active,
.center_slider .changed.swiper-slide-active {transform:translateX(0);}
.center_slider .swiper-slide-active ~ .changing,
.center_slider .swiper-slide-active ~ .changed {transform:translateX(51px);}
.center_slider .changing.swiper-slide-active .slide_cont,
.center_slider .changed.swiper-slide-active .slide_cont {width:432px;margin-left:-51px;margin-right:-51px;}

.center_slider .swiper-pagination {display:flex; width:100%; max-width:1044px; margin:0 auto; position:relative;}
.center_slider .swiper-pagination::after {content:''; width:100%; height:1px; top:1px; opacity:0.1; display:block; background:black; position:absolute; left:0;}
.center_slider .swiper-pagination .swiper-pagination-bullet {width:100%; height:3px; display:block; background:none; margin:0; border-radius:3px; position: relative;}
.center_slider .swiper-pagination .swiper-pagination-bullet::after {content:''; display:block; width:0; height:100%; background:#333;border-radius: 3px;  }
.center_slider .swiper-pagination .swiper-pagination-bullet-active::after {width:100%; transition:width 3s;}

/* location 상품 아이템*/
.location_item .title {font-size:20px;font-family:'NotoSansR';line-height:30px;margin-top: 0;text-overflow: ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;word-wrap:break-word;overflow:hidden;}
.location_item .tag {font-size:14px; font-family:'NotoSansM'; color:#ed2a61; margin-top:15px; line-height:1;}
.location_item .img_wrap {border-radius:24px; overflow:hidden;background-position:center; background-size:cover;}
.location_item img {width:100%;}

/* shop 상품 리스트 */
.prod_list {display:flex; flex-wrap:wrap; max-width:1200px; margin:0 auto;}
.prod_list .prod_item {margin-right:24px;}
.prod_list .prod_item:nth-child(4n) {margin-right:0;}

.prod_item {display:block; position:relative; width:282px;}
.prod_item .img_wrap { height:282px;}
.prod_item .img_wrap {border-radius:24px;overflow: hidden;position:relative;background-size: cover;background-position: center;}
.prod_item .img_wrap a {display:block; overflow:hidden; width:100%; height:100%;}
.prod_item .img_wrap img {width:100%;}
.prod_item .txt_wrap {margin-top: 19px;margin-bottom: 60px;}
.prod_item .txt_wrap .company {display:none; font-size:14px; color:#333; line-height:1;font-family:'NotoSansR'; margin-bottom:5px;}
.prod_item .txt_wrap .prod_name {font-size:18px; line-height:26px; max-height:56px;color:#333; font-family:'NotoSansR'; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; display:-webkit-box; word-wrap:break-word; overflow:hidden;}
.prod_item .txt_wrap .benefit {font-size:14px;line-height:20px;/* height: 40px; */color:#999;font-family:'NotoSansR';margin-top:6px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;display:-webkit-box;word-wrap:break-word;overflow:hidden;}
.prod_item .img_wrap .seller_name {position:absolute; top:248px; left:10px; display:inline-block; height:22px; line-height:20px; padding:0 10px; border-radius:10px; font-size:12px; font-family:'NotoSansM'; color:#757575; background:#fff; border:1px solid rgba(0, 0, 0, 0.05);}
.prod_item .img_wrap .seller_name:hover {background-color:#333; color:#fff;}

/* 슬라이더 내부 */
.prod_item .img_wrap .seller_name {position:absolute;bottom:10px;left:10px;top: auto;display:inline-block;height:22px;line-height:20px;padding:0 10px;border-radius:10px;font-size:12px;font-family:'NotoSansM';color:#757575;background:#fff;border:1px solid rgba(0, 0, 0, 0.05);}
.prod_item .img_wrap .seller_name:hover {background-color:#333; color:#fff;}



/* 상품 태그 */
.img_wrap .tag span {display:flex;justify-content: center;align-items: center;width:56px;height:56px;position:absolute;top:8px;right:8px;background-size:contain;background-repeat: no-repeat;text-align:center;font-size:12px;font-family:'NotoSansM';color:#fff;line-height:15px;padding: 10px 10px 7px 10px;box-sizing: border-box;word-wrap: break-word;word-break: break-all;}
.img_wrap .tag .discount {background-image:url('../img/common/ico_tag_1.png');}
.img_wrap .tag .gift {background-image:url('../img/common/ico_tag_2.png');}
.img_wrap .tag span:nth-child(2) {top:68px;}

/* 셀렉트 박스 */
.select_box {position:relative; display:inline-block; margin-right:12px}
.select_box .select {position:relative; width:100%; min-width:186px; height:44px; height:44px; line-height:44px; color:#333; font-size:16px; text-align:left; padding:0 40px 0 30px; border-radius:44px; border:1px solid #e6e6e6; background:#fff}
.select_box .select::after {content:'';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 6px 4.5px 0 4.5px;border-color: #333 transparent transparent transparent; position:absolute; top:17px; right:25px;}
.select_box.on .select::after {transform: rotate(180deg);}
.select_box .list {z-index:10; overflow:auto; display:none; position:absolute; left:0; top:100%; width:100%; max-height:265px; border-radius:0 0 22px 22px; border:1px solid #e6e6e6; border-top:0;}
.select_box .list li a {display:block;min-height:31px;color:#999;font-size:16px;line-height:31px;padding:0 29px;}
.select_box .list li:last-child a {padding-bottom:7px}
.select_box .list li a:hover {color:#333; background:#f8f8f8}

.select_box.on .select {border-bottom:0; border-radius:22px 22px 0 0}
.select_box.on .list {display:block; background:#fff}

/* button - view all */
.btn_view {position:relative;background-color:#333;display:block;text-align:left;width:auto;/* width:145px; */height:45px;/* padding:0; */line-height:45px;color:#fff;font-size:14px;font-family: 'NotoSansR';border-radius:45px;padding: 0 50px 0 36px;}
.btn_view::after { content: ''; width: 8px; height: 8px; border-top: 1px solid #fff; border-right: 1px solid #fff; display: inline-block; transform: rotate(45deg); position: absolute; top: 19px; right:31px; }
.btn_view:hover {background-color:#f0386c;}



/* 페이지네이션 */
.page_box { display: flex; justify-content: center; } 
.page_box a.btn_prev,
.page_box a.btn_next {display: block;position: relative;width: 20px;height: 20px;margin-right: 30px;float: left;margin-top: 15px;} 
.page_box a.btn_next {margin-right:0;margin-left: 30px;/* margin-top: 30px; */} 
.page_box a.btn_prev::after { content: ''; width: 11px; height: 11px; border-top: 2px solid #232323; border-right: 2px solid #232323; display: inline-block; transform: rotate(225deg); position: absolute; top: 0px; left: 7px; } 
.page_box a.btn_next::after { content: ''; width: 11px; height: 11px; border-top: 2px solid #232323; border-right: 2px solid #232323; display: inline-block; transform: rotate(45deg); position: absolute; top: 0px; left: 1px; } 
.page_box a.btn_prev:hover::after,
.page_box a.btn_next:hover::after { border-top: 2px solid #e2295e; border-right: 2px solid #e2295e; transition: .5s; } 
.page_box a.btn_prev.disable::after,
.page_box a.btn_next.disable::after { border-top: 2px solid #232323; border-right: 2px solid #232323; opacity:0.2; } 
.page_box ol {display: flex;float: left;} 
.page_box ol li { overflow:hidden; } 
.page_box ol li a {font-family: 'arboria';width: 45px;height: 45px;font-size: 16px;line-height: 42px;font-weight: 400;color: #333;margin: 0 5px;display: block;float: left;border-radius: 50%;text-align: center; transition:background 0.3s, color 0.3s;} 
.page_box ol li a.dot {width: 20px;height: 1px;background: #232323;margin: 22px 5px 0;border-radius: 0;} 
.page_box ol li a.on,
.page_box ol li a:hover {color: #fff;background: #333333;} 


@media(min-width:768px) and (max-width:1280px) {
    /* pc vw */
    /* center slider */
    .center_slider.swiper-container {width: 100%;margin: 0 auto;height: 37.5000vw;}
    .center_slider .swiper-wrapper {align-items: flex-end;}
    .center_slider .swiper-slide {flex-direction:column; width: auto;height:auto;}
    .center_slider .swiper-slide .slide_cont { padding-left:1.8750vw; padding-right:1.8750vw; width:25.7813vw;}
    .center_slider .swiper-slide .slide_cont .img_wrap {border-radius: 1.8750vw;width: 100%;height: 0;padding-top: 100%;}
    .center_slider .swiper-slide .slide_cont .img_wrap a {width:100%;height:100%;top: 0;}
    .center_slider .swiper-slide .slide_cont:nth-child(2) {top: 14.3750vw;left: 2.8125vw;}

    .center_slider .changing .slide_cont .txt_wrap {transition:opacity 0.3s;}
    .center_slider .changed .slide_cont .txt_wrap {transition: none;}
    .center_slider .changing,
    .center_slider .changed {transform: translateX(-3.9844vw); -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
    .center_slider .changing {transition: width 0.3s;pointer-events: none !important; }
    .center_slider .changed {transition: none;}
    .center_slider .changing .slide_cont{transition: width 0.3s;}
    .center_slider .changed .slide_cont{transition: none;}
    .center_slider .changing.swiper-slide-active,
    .center_slider .changed.swiper-slide-active {transform:translateX(0);}
    .center_slider .swiper-slide-active ~ .changing,
    .center_slider .swiper-slide-active ~ .changed {transform:translateX(3.9844vw);}
    .center_slider .changing.swiper-slide-active .slide_cont,
    .center_slider .changed.swiper-slide-active .slide_cont {width:33.7500vw;margin-left:-3.9844vw;margin-right:-3.9844vw;}

    .center_slider .swiper-pagination { width:100%; max-width:81.5625vw; margin:0 auto; }
    .center_slider .swiper-pagination::after {/* width:100%; *//* height:0.0781vw; *//* top:0.0781vw; *//* opacity:0.1; *//* background:black; *//* left:0; */}
    .center_slider .swiper-pagination .swiper-pagination-bullet {width:100%;/* height:0.2344vw; */background:none;margin:0;/* border-radius:0.2344vw; */}
    .center_slider .swiper-pagination .swiper-pagination-bullet::after {  width:0; height:100%; background:#333;border-radius: 0.2344vw;  }
    .center_slider .swiper-pagination .swiper-pagination-bullet-active::after {width:100%; transition:width 3s;}

    /* location 상품 아이템*/
    .location_item .title {font-size:1.5625vw;line-height:2.3438vw;/* margin-top:1.3281vw; */}
    .location_item .tag {font-size:1.0938vw;   margin-top:1.1719vw; line-height:1;}
    .location_item .img_wrap {border-radius:1.8750vw;  }
    .location_item img {width:100%;}

    /* shop 상품 리스트 */
    .prod_list { flex-wrap:wrap; max-width:93.7500vw; margin:0 auto;}
    .prod_list .prod_item {margin-right:1.8750vw;}
    .prod_list .prod_item:nth-child(4n) {margin-right:0;}

    .prod_item {  width:22.0313vw;}
    .prod_item .img_wrap { height:22.0313vw;}
    .prod_item .img_wrap {border-radius:1.8750vw;}
    .prod_item .img_wrap img {width:100%;}
    .prod_item .txt_wrap {margin-top: 1.4843vw;margin-bottom: 4.6875vw;}
    .prod_item .txt_wrap .company {font-size:1.0938vw;  line-height:1; margin-bottom:0.3906vw;}
    .prod_item .txt_wrap .prod_name {font-size:1.4063vw; line-height:2.0313vw; max-height:4.3750vw;}
    .prod_item .txt_wrap .benefit {font-size:1.0938vw;line-height:1.5625vw;/* height: 3.125vw; */margin-top:0.4688vw;}
    .prod_item .seller_name { top:19.3750vw; left:0.7813vw;  height:1.7188vw; line-height:1.5625vw; padding:0 0.7813vw; border-radius:0.7813vw; font-size:0.9375vw;   background:#fff; border:0.0781vw solid rgba(0, 0, 0, 0.05);}

    /* 슬라이더 내부 */
    .prod_item .img_wrap .seller_name {bottom:0.7813vw;left:0.7813vw;top: auto;height:1.7188vw;line-height:1.5625vw;padding:0 0.7813vw;border-radius:0.7813vw;font-size:0.9375vw;background:#fff;border:0.0781vw solid rgba(0, 0, 0, 0.05);}

    /* 상품 태그 */
    .img_wrap .tag span {width:4.3750vw;height:4.3750vw;top:0.6250vw;right:0.6250vw;font-size:0.9375vw;line-height:1.1719vw;padding: 0.7813vw 0.7813vw 0.5469vw 0.7813vw;}
    .img_wrap .tag .discount {background-image:url('/static/img/common/ico_tag_1.png');}
    .img_wrap .tag .gift {background-image:url('/static/img/common/ico_tag_2.png');}
    .img_wrap .tag span:nth-child(2) {top:5.3125vw;}

    /* 셀렉트 박스 */
    .select_box {position:relative; display:inline-block; margin-right:0.9375vw}
    .select_box .select {position:relative; width:100%; min-width:14.5313vw; height:3.4375vw; height:3.4375vw; line-height:3.4375vw; color:#333; font-size:1.2500vw; text-align:left; padding:0 3.1250vw 0 2.3438vw; border-radius:3.4375vw; border:0.0781vw solid #e6e6e6}
    .select_box .select::after {content:'';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 0.4688vw 0.3516vw 0 0.3516vw;border-color: #333 transparent transparent transparent; position:absolute; top:1.3281vw; right:1.9531vw;}
    .select_box .list {z-index:10; overflow:auto; display:none; position:absolute; left:0; top:100%; width:100%; max-height:20.7031vw; border-radius:0 0 1.7188vw 1.7188vw; border:0.0781vw solid #e6e6e6; border-top:0;}
    .select_box .list li a {display:block; min-height:2.5000vw; color:#999; font-size:1.2500vw; line-height:2.5000vw; padding:0 2.2656vw;}
    .select_box .list li:last-child a {padding-bottom:0.5469vw}
    .select_box .list li a:hover {color:#333; background:#f8f8f8}
    .select_box.on .select {border-bottom:0; border-radius:1.7188vw 1.7188vw 0 0}
    .select_box.on .list {display:block; background:#fff}

    /* button - view all */
    .btn_view {width:auto; height:3.5156vw;line-height:3.5156vw;font-size:1.0938vw;border-radius:3.5156vw;padding: 0 3.9063vw 0 2.8125vw;}
    .btn_view::after {  width: 0.6250vw; height: 0.6250vw; border-top: 0.0781vw solid #fff; border-right: 0.0781vw solid #fff;  transform: rotate(45deg);  top: 1.4844vw; right:2.4219vw; }



    /* 페이지네이션 */
    .page_box a.btn_prev,
    .page_box a.btn_next {width: 1.5625vw;height: 1.5625vw;margin-right: 2.3438vw;margin-top: 1.1719vw;} 
    .page_box a.btn_next {margin-right:0;margin-left: 2.3438vw;}
    .page_box a.btn_prev::after {  width: 0.8594vw; height: 0.8594vw; border-top: 0.1563vw solid #232323; border-right: 0.1563vw solid #232323;  transform: rotate(225deg);  top: 0.0000vw; left: 0.5469vw; } 
    .page_box a.btn_next::after {  width: 0.8594vw; height: 0.8594vw; border-top: 0.1563vw solid #232323; border-right: 0.1563vw solid #232323;  transform: rotate(45deg);  top: 0.0000vw; left: 0.0781vw; } 
    .page_box a.btn_prev:hover::after,
    .page_box a.btn_next:hover::after { border-top: 0.1563vw solid #e2295e; border-right: 0.1563vw solid #e2295e;} 
    .page_box a.btn_prev.disable::after,
    .page_box a.btn_next.disable::after { border-top: 0.1563vw solid #232323; border-right: 0.1563vw solid #232323;} 
    .page_box ol li a {width: 3.5156vw;height: 3.5156vw;font-size: 1.2500vw;line-height: 3.2813vw;margin: 0 0.3906vw;} 
    .page_box ol li a.dot {width: 1.5625vw;height: 0.0781vw;background: #232323;margin: 1.7188vw 0.3906vw 0;border-radius: 0;} 
}


@media(max-width:767px) {
    /* center slider */
    .center_slider .swiper-slide .slide_cont {width: 520px;padding: 0 20px;}
    .center_slider .swiper-slide .slide_cont .img_wrap {border-radius:32px;}
    .center_slider .swiper-slide .slide_cont:nth-child(2) {top: 136px;left: 22px;}
    .center_slider .changing,
    .center_slider .changed {transform: translateX(-40px);}
    .center_slider .changing.swiper-slide-active,
    .center_slider .changed.swiper-slide-active {transform:translateX(0);}
    .center_slider .swiper-slide-active ~ .changing,
    .center_slider .swiper-slide-active ~ .changed {transform:translateX(40px);}
    .center_slider .changing.swiper-slide-active .slide_cont,
    .center_slider .changed.swiper-slide-active .slide_cont {width:600px;margin-left:-40px;margin-right:-40px;}
    .center_slider .swiper-pagination {width:640px;}
    .center_slider .swiper-pagination::after {height:2px;}
    .center_slider .swiper-pagination .swiper-pagination-bullet {height:6px; margin-top:-1px}
    .center_slider .swiper-slide-prev .slide_cont .txt_wrap,
    .center_slider .swiper-slide-next .slide_cont .txt_wrap {opacity:0;pointer-events:none;}

    /* location 아이템 */
    .location_item .title {font-size:32px;line-height: 48px;margin-top: 24px;}
    .location_item .tag {font-size:24px;margin-top: 25px;}
    .location_item .img_wrap {border-radius:32px;}

    /* shop 상품 리스트 */
    .prod_list {width:640px; margin:0 auto;}
    .prod_list .prod_item:nth-child(odd) {margin-right: 20px;}
    .prod_list .prod_item:nth-child(even) {margin-right:0;}

    .prod_item {width:310px;}    
    .prod_item .img_wrap {height:310px;border-radius: 32px;}
    .prod_item .txt_wrap {margin-top:16px;margin-bottom: 60px;}
    .prod_item .txt_wrap .company {font-size:24px;margin-bottom: 12px;}
    .prod_item .txt_wrap .prod_name {font-size:28px;line-height:36px;height: auto; max-height:72px}
    .prod_item .txt_wrap .benefit {font-size:22px;line-height:30px;margin-top:10px;height: 60px;}
    .prod_item .img_wrap .seller_name {font-size:24px;line-height: 24px;height: 36px;border-radius:20px;left:16px;top: auto;padding: 4px 20px 6px;max-width: 278px;text-align: left;height: auto;min-height: 36px;}

    .prod_item ~ .slide_cont .seller_name {font-size:24px;line-height: 32px;height: 36px;border-radius:20px;left:16px;top:256px;padding:0 20px;}

    /* 상품 태그 */
    .img_wrap .tag span {width:72px;height:72px;font-size:16px;line-height:20px;padding-top: 8px;top: 12px;right: 12px;}
    .img_wrap .tag span:nth-child(2) {top:92px;}


    /* 셀렉트 박스 */
    .select_box {width:50%; margin-right:0;}
    .select_box.on .select {border-radius:32px 32px 0 0;}
    .select_box .select {min-width:auto; height:72px; line-height:72px; font-size:3.33vw; padding:0 40px 0 30px}
    .select_box .select::after {top:50%}
    .select_box .list {border-radius: 0 0 32px 32px;}
    .select_box .list li a {height:9.72vw;line-height:9.72vw;font-size:3.33vw;padding: 0 4.0278vw;}


    /* view all 버튼 */
    .btn_view {/* display: inline-block; */font-size:24px;/* width:208px; */height:66px;line-height: 66px;padding: 0 66px 0 40px;}
    .btn_view::after {width: 12px;height: 12px;border-width: 2px 2px 0 0;top: 27px;right: 43px;}

    /* 페이지네이션 */
    .page_box {margin-bottom:24px;}
    .page_box ol li a {font-size:30px;width:80px; height:80px; line-height:74px;}
    .page_box ol li a.dot {width:30px;margin-top:39px;}
    .page_box a.btn_prev, .page_box a.btn_next {margin-top:20px;width: 40px;height: 40px;position:relative;}
    .page_box a.btn_prev {margin-right: 30px;}
    .page_box a.btn_next {margin-left:30px;}
    .page_box a.btn_prev::after { content: ''; width: 18px; height: 18px; border-width: 4px 4px 0 0; top:9px; left: 15px; right:auto;} 
    .page_box a.btn_next::after { content: ''; width: 18px; height: 18px; border-width: 4px 4px 0 0; top:9px; left:auto; right: 15px;} 
    .page_box a.btn_prev.disable::after, .page_box a.btn_next.disable::after {border-width: 4px 4px 0 0;}



    /* mo vw */

    /* center slider */
    .center_slider .swiper-slide .slide_cont {width: 72.2222vw;padding: 0 2.7778vw;}
    .center_slider .swiper-slide .slide_cont .img_wrap {border-radius:4.4444vw;}
    .center_slider .swiper-slide .slide_cont:nth-child(2) {top: 18.8889vw;left: 3.0556vw;}
    .center_slider .changing,
    .center_slider .changed {transform: translateX(-5.5556vw);}
    .center_slider .changing.swiper-slide-active,
    .center_slider .changed.swiper-slide-active {transform:translateX(0);}
    .center_slider .swiper-slide-active ~ .changing,
    .center_slider .swiper-slide-active ~ .changed {transform:translateX(5.5556vw);}
    .center_slider .changing.swiper-slide-active .slide_cont,
    .center_slider .changed.swiper-slide-active .slide_cont {width:83.3333vw;margin-left:-5.5556vw;margin-right:-5.5556vw;}
    .center_slider .swiper-pagination {width:88.8889vw;}
    .center_slider .swiper-pagination::after {height:0.2778vw;}
    .center_slider .swiper-pagination .swiper-pagination-bullet {height:0.8333vw; margin-top:-0.1389vw}
    .center_slider .swiper-slide-prev .slide_cont .txt_wrap,
    .center_slider .swiper-slide-next .slide_cont .txt_wrap {opacity:0;pointer-events:none;}

    /* location 아이템 */
    .location_item .title {font-size:4.4444vw;line-height: 6.6667vw;margin-top: 3.3333vw;}
    .location_item .tag {font-size:3.3333vw;margin-top: 3.4722vw;}
    .location_item .img_wrap {border-radius:4.4444vw;}

    /* shop 상품 리스트 */
    .prod_list {width:88.8889vw; margin:0 auto;}
    .prod_list .prod_item:nth-child(odd) {margin-right: 2.7778vw;}
    .prod_list .prod_item:nth-child(even) {margin-right:0;}

    .prod_item {width:43.0556vw;}    
    .prod_item .img_wrap {height:43.0556vw;border-radius: 4.4444vw;}
    .prod_item .txt_wrap {margin-top:2.2222vw;margin-bottom: 8.3333vw;}
    .prod_item .txt_wrap .company {font-size:3.3333vw;margin-bottom: 1.6667vw;}
    .prod_item .txt_wrap .prod_name {font-size:3.8889vw;line-height:5.0000vw;height: auto; max-height:10.0000vw}
    .prod_item .txt_wrap .benefit {font-size:3.0556vw;line-height:4.1667vw;margin-top:1.3889vw;height: 8.3333vw;height: auto;}
    .prod_item .img_wrap .seller_name {font-size:3.3333vw;line-height: 3.3333vw;height: 5.0000vw;border-radius:2.7778vw;left:2.2222vw;top: auto;padding: 0.5556vw 2.7778vw 0.8333vw;max-width: 38.6111vw;height: auto;min-height: 5.0000vw;}

    .prod_item ~ .slide_cont .seller_name {font-size:3.3333vw;line-height: 4.4444vw;height: 5.0000vw;border-radius:2.7778vw;left:2.2222vw;top:35.5556vw;padding:0 2.7778vw;}

    /* 상품 태그 */
    .img_wrap .tag span {width:10.0000vw;height:10.0000vw;font-size:2.2222vw;line-height:2.7778vw;padding: 1.11vw 0;top: 1.6667vw;right: 1.6667vw;}
    .img_wrap .tag span:nth-child(2) {top:12.7778vw;}


    /* 셀렉트 박스 */
    .select_box {width:50%; margin-right:0;}
    .select_box.on .select {border-radius:4.44vw 4.44vw 0 0;}
    .select_box .select {min-width:auto; height:10.0000vw; line-height:10.0000vw; font-size:3.33vw; padding:0 5.5556vw 0 4.1667vw}
    .select_box .select::after {top:50%}
    .select_box .list {border-radius: 0 0 4.44vw 4.44vw;}
    .select_box .list li a {height:9.72vw;line-height:9.72vw;font-size:3.33vw;padding: 0 4.0278vw;}

    /* view all 버튼 */
    .btn_view {/*  */font-size:3.3333vw;/* width:28.8889vw; */height:9.1667vw;line-height: 9.1667vw;padding: 0 9.1667vw 0 5.5556vw;}
    .btn_view::after {width: 1.6667vw;height: 1.6667vw;border-width: 0.2778vw 0.2778vw 0 0;top: 3.7500vw;right: 5.9722vw;}

    /* 페이지네이션 */
    .page_box {margin-bottom:3.3333vw;}
    .page_box ol li a {font-size:4.1667vw;width:11.1111vw; height:11.1111vw; line-height:10.2778vw;}
    .page_box ol li a.dot {width:4.1667vw;margin-top:5.4167vw;}
    .page_box a.btn_prev, .page_box a.btn_next {margin-top:2.7778vw;width: 5.5556vw;height: 5.5556vw;}
    .page_box a.btn_prev {margin-right: 4.1667vw;}
    .page_box a.btn_next {margin-left:4.1667vw;}
    .page_box a.btn_prev::after {  width: 2.5000vw; height: 2.5000vw; border-width: 0.5556vw 0.5556vw 0 0; top:1.2500vw; left: 2.0833vw; right:auto;} 
    .page_box a.btn_next::after {  width: 2.5000vw; height: 2.5000vw; border-width: 0.5556vw 0.5556vw 0 0; top:1.2500vw; left:auto; right: 2.0833vw;} 
    .page_box a.btn_prev.disable::after, .page_box a.btn_next.disable::after {border-width: 0.5556vw 0.5556vw 0 0;}

    

}


/* ----- layer_popup ----- */

#dimLayer {z-index:1007;position:fixed;left:0;right:0;top:0;bottom:0;background: rgba(0,0,0,0.7);} 
#dimLayer_gnb {z-index: 99;position:fixed;left:0;right:0;top:0;bottom:0;background: rgba(0,0,0,0.7);} 
.layer_popup {z-index:1008;display:none;overflow-x:hidden;overflow-y: hidden;position:fixed;left:0;top:0;width:100%;height:100%;margin:0;padding-right: 0;}
.layer_popup .layer_outer {left: 50%;top: 140px;width: 1200px;margin-left: -600px;position: relative; padding-bottom:100px}
.layer_popup .layer_cont {padding: 40px;border-radius: 24px;background:#fff;position: relative;} 
.layer_popup .layer_cont .tit_txt { font-family:'NotoSansL'; color: #333; font-size:44px; text-align:center; margin-bottom:35px; } 
.layer_popup .layer_cont .btn_center { margin:0 auto; display:block; } 

/* 팝업 오픈 */
.popup-open {overflow:hidden;}
.popup-open .layer_popup {overflow-x: hidden;overflow-y: auto;}
.popup-open .layer_popup.on .layer_cont { animation: showPopup 0.3s ease-out; } 
@keyframes showPopup { 
    0% { transform: translateY(100px); opacity:0;} 
    50% { opacity:1;} 
    100% { transform: translateY(0);} 
}

.layer_popup .btn_close_bottom {display:block;width:140px;height:45px;line-height:45px;color:#fff;font-family:'NotoSansR';font-size:14px;text-align:center;border-radius:45px;margin: 40px auto 0;background:#333;}
.layer_popup .btn_close { position:absolute; right: 30px; top: 30px; display:block; width: 30px; height: 30px; text-indent:-999px; font-size:0; transition : all 0.3s ease; } 
.layer_popup .btn_close.type2 { right:28px; top:28px; width: 32px; height: 32px; } 
.layer_popup .btn_close:before,
.layer_popup .btn_close:after { content:''; display:block; position:absolute; left:0; top:50%; width:100%; height: 2px; border-radius:2px; background:#333; } 
.layer_popup .btn_close:before { transform:rotate(45deg); } 
.layer_popup .btn_close:after { transform:rotate(-45deg); } 
.layer_popup .btn_close:hover { transform:rotate(90deg) } 
.layer_popup .btn_close:hover { transform:rotate(90deg) } 

.layer_popup.scroll .layer_cont {top:0; padding: 60px 50px;} 
.layer_popup.scroll .scroll_box {padding:20px 30px;background-color:#f7f8f9;font-family:'NotoSansR';font-size:14px;line-height:26px;overflow-y:auto;border:1px solid #dcdcdc;} 

@media(min-width:768px) {
    /* 팝업(PC) */
    .popup-open,
    .popup-open header {padding-right: 17px;}
}

@media(min-width:768px) and (max-width:1280px) {
    /* 팝업(중간) */
    .layer_popup .layer_outer {left: 50%;top: 10.9375vw;width: 93.7500vw;margin-left: -46.8750vw;position: relative; padding-bottom:7.8125vw}
    .layer_popup .layer_cont {padding: 3.1250vw;border-radius: 1.8750vw;background:#fff;position: relative;} 
    .layer_popup .layer_cont .tit_txt { font-family:'NotoSansL'; color: #333; font-size:3.4375vw; text-align:center; margin-bottom:2.7344vw; } 
    .layer_popup .btn_close_bottom {width:10.9375vw;height:3.5156vw;line-height:3.5156vw;font-size:1.0938vw;border-radius:3.5156vw;margin: 3.1250vw auto 0;background:#333;}
}

@media(max-width:767px) {
    /*팝업(mo)*/
    .popup-open header {z-index:100;}
    .layer_popup .btn_close {right:34px; top:34px; width:42px; height:42px;}
    .layer_popup .btn_close:before, .layer_popup .btn_close:after {height:4px; border-radius:0}
    .layer_popup .layer_outer {position:absolute;top: 40px;left:40px;right:40px;width:auto !important;margin-left:0 !important;}
    .layer_popup .layer_cont {padding: 5.2083vw;border-radius: 3.1250vw;background:#fff;position: relative;} 
    .layer_popup .layer_cont .tit_txt {font-size:5.7292vw; text-align:left;}   
    .layer_popup .btn_close_bottom {width:200px; height:66px; line-height:66px; font-size:24px; margin-top:56px}

    /* vw mo */
    .layer_popup .btn_close {right:4.7222vw; top:4.7222vw; width:5.8333vw; height:5.8333vw;}
    .layer_popup .btn_close:before, .layer_popup .btn_close:after {height:0.5556vw; border-radius:0}
    .layer_popup .layer_outer {left:5.5556vw;top: 5.5556vw;right:5.5556vw;width:auto !important;margin-left:0 !important;}
    .layer_popup .layer_cont {padding: 5.2083vw;border-radius: 3.1250vw;background:#fff;} 
    .layer_popup .layer_cont .tit_txt {font-size:5.7292vw; }   
    .layer_popup .btn_close_bottom {width:27.7778vw; height:9.1667vw; line-height:9.1667vw; font-size:3.3333vw; margin-top:7.7778vw}
    
}

/* LOADER */
.loader-overlay {position: fixed;width: 100%;height: 100%;z-index:99999;top: 0;left:0;display:none;}
.loader {height: 4px;width: 100%;position: relative;overflow: hidden;/*background-color: #fff;*/}
.loader:before {display: block;position: absolute;content: "";left: -200px;width: 200px;height: 4px;background-color: red;animation: loading 2s linear infinite;}
@keyframes loading {from {left: -200px;width: 30%;}50% {width: 30%;}70% {width: 70%;}80% {left: 50%;}95% {left: 120%;}to {left: 100%;}}

._hidden {display:none !important;}
.hidden {display:none !important;}
/* =========================================== [e] 공통요소(실제사용) ==================================================*/



/*----- video popup ------*/
.video_popup.layer_popup .layer_outer {width:1120px;margin-left: -560px;}
.video_popup.layer_popup .layer_cont {background:none; padding:40px 0;}
.video_popup.layer_popup .layer_cont .vid_wrap {width:100%; height:0; padding-top:56.25%; position:relative;}
.video_popup.layer_popup .layer_cont .vid_wrap video,
.video_popup.layer_popup .layer_cont .vid_wrap iframe {width:100%;height: 100%;position:absolute;top:-2px;left:-2px;border:2px solid #fff;background:#000; box-sizing: content-box;}

.video_popup.layer_popup .btn_close {top:0; right:-2px;}
.video_popup.layer_popup .btn_close:before, .video_popup.layer_popup .btn_close:after {background:#fff;}
.layer_popup.video_popup {padding-bottom:0; overflow:hidden;}

@media(min-width:768px) and (max-width:1280px) {
    /* popup */
    .video_popup.layer_popup .layer_outer {width:87.5000vw;margin-left: -43.7500vw;}
    .video_popup.layer_popup .layer_cont {padding:3.1250vw 0;}
    .video_popup.layer_popup .layer_cont .vid_wrap video,
    .video_popup.layer_popup .layer_cont .vid_wrap iframe {top:-0.1563vw;left:-0.1563vw;border:0.1563vw solid #fff;}

    /* button */
    .video_popup.layer_popup .btn_close {width: 2.3438vw; height: 2.3438vw; top:0; right:-0.1563vw;}
    .video_popup.layer_popup .btn_close:before,
    .video_popup.layer_popup .btn_close:after {height: 0.1563vw;}

}

@media(max-width:767px) {
    .video_popup.layer_popup .layer_outer {top:25vh;}
    .video_popup.layer_popup .layer_cont {padding:9.444vw 0;}
    .video_popup.layer_popup .layer_cont .vid_wrap video,
    .video_popup.layer_popup .layer_cont .vid_wrap iframe {top:-0.2777vw;left:-0.2777vw;border:0.2777vw solid #fff;}

    /* button */
    .video_popup.layer_popup .btn_close {width: 6.666vw;height: 6.666vw;top:0;right:-0.2777vw;}
    .video_popup.layer_popup .btn_close:before,
    .video_popup.layer_popup .btn_close:after {height: 0.5128vw;}
}