/* company popup */
.company_popup.layer_popup .layer_cont {padding:60px 0;}

.company_popup .company_info {padding:0 60px 60px 60px; display:flex;}
/*border-bottom:1px solid #ebebeb;*/
.company_popup .company_info .img_wrap {width:510px;height:310px;border-radius:24px;overflow:hidden;background-size: cover;background-repeat: no-repeat;background-position: center;}
.company_popup .company_info .txt_wrap {width:calc(100% - 510px);padding-left:60px;box-sizing:border-box;display:flex;flex-direction:column;justify-content: flex-start;align-items:flex-start;}
.company_popup .company_info .txt_wrap .txt {display:block; width:100%;}
.company_popup .company_info .txt_wrap .txt .name {font-size:44px;font-family:'NotoSansL';margin-bottom:10px;word-break: break-word;}
.company_popup .company_info .txt_wrap .txt .info {font-size:18px;color: #757575;margin-bottom: 34px;word-wrap: break-word;}
.company_popup .company_info .txt_wrap .btn_box {display:flex; flex-wrap:wrap;}
.company_popup .company_info .txt_wrap .btn_box .btn_view {margin-top: 10px; margin-right:8px;}

.company_popup .company_product {padding: 0 60px 5px;}
.company_popup .company_product::before {content:''; display:block; width:100%; height:1px;background:#ebebeb;}
.company_popup .company_product h3 {text-align:center; font-size:30px; font-family: 'NotoSansB'; margin-top:50px;}
.company_popup .company_product .prod_list {margin-top:26px;}
.company_popup .company_product .prod_item {width:196px;}
.company_popup .company_product .prod_item .img_wrap {width:100%;height:196px;border-radius: 16px;}
.company_popup .company_product .prod_item .txt_wrap .prod_name {font-size:16px;color:#333;line-height: 22px;margin-top: 7px;}
.company_popup .company_product .prod_list li a {margin-right: 25px;}
.company_popup .company_product .prod_list li a.prod_item[href="javascript:;"] {cursor:unset}
.company_popup .company_product .prod_list li:nth-child(5) a {margin-right:0;}

.company_popup .company_store {background-color:#f7f7f7;padding:60px; }
.company_popup .company_store h3 {text-align:center; font-size:30px; font-family: 'NotoSansB';}

.company_popup .company_store .select_box {display: block;width: 634px;margin: 25px auto 0;}

.company_popup .company_store .store_list {border-top:1px dashed #c6c6c6; margin-top:30px;}
.company_popup .company_store .store_list li {border-bottom:1px dashed #c6c6c6;font-size:16px;/* line-height: 60px; */display: flex;align-items:flex-start;padding: 18px 0;}
.company_popup .company_store .store_list .title {font-family:'NotoSansM';display: flex;align-items: center;width: 92px;}
.company_popup .company_store .store_list .title::after {content:''; display:block; width:4px; height:4px; background-color:#f0386c; border-radius:50%; margin:0 18px;}
.company_popup .company_store .store_list .txt_box {color:#757575;width: calc(100% - 92px);}
.company_popup .company_store .store_list .txt_box span {display:block;}
.company_popup .company_store .store_list .txt_box span.tel::before {content:'T. '}
.company_popup .popup_info {font-size:14px; line-height:24px; text-align:center; color:#999; margin-top:36px;}
.company_popup .btn_close_bottom {margin-top:20px;}

@media(min-width:768px) and (max-width:1280px) {
    /* pc vw */
    /* company popup */
.company_popup .layer_cont {padding:4.6875vw 0;}

.company_popup .company_info {padding:0 4.6875vw 4.6875vw 4.6875vw;}
.company_popup .company_info .img_wrap {width:39.8438vw; height:24.2188vw; border-radius:1.8750vw; }
.company_popup .company_info .txt_wrap {width:calc(100% - 39.8438vw); padding-left:4.6875vw;   flex-direction:column;}

.company_popup .company_info .txt_wrap .txt .name {font-size:3.4375vw;  margin-bottom:0.7813vw;}
.company_popup .company_info .txt_wrap .txt .info {font-size:1.4063vw; margin-bottom:3.1250vw;}
.company_popup .company_info .txt_wrap .btn_box .btn_view {margin-top: 0.78vw;margin-right: 0.625vw;}

.company_popup .company_product {padding: 0 4.6875vw 0.3906vw;}
.company_popup .company_product h3 {font-size:2.3438vw;margin-top: 3.9063vw;}
.company_popup .company_product .prod_list {margin-top:2.0313vw;}
.company_popup .company_product .prod_item {width:15.3125vw;}
.company_popup .company_product .prod_item .img_wrap {width:100%;height:15.3125vw;border-radius: 1.25vw;}
.company_popup .company_product .prod_item .txt_wrap .prod_name {font-size:1.2500vw;line-height: 1.7188vw;margin-top: 0.5468vw;}
.company_popup .company_product .prod_list li a {margin-right: 1.9531vw;}
.company_popup .company_product .prod_list li:nth-child(5) a {margin-right:0;}

.company_popup .company_store {padding:4.6875vw;}
.company_popup .company_store h3 { font-size:2.3438vw; }
.company_popup .company_store .select_box {width:49.53vw;margin: 1.9531vw auto 0;}
.company_popup .company_store .store_list {border-top:0.0781vw dashed #c6c6c6; margin-top:2.3438vw;}
.company_popup .company_store .store_list li {border-bottom:0.0781vw dashed #c6c6c6;font-size:1.2500vw;/* line-height: 4.6875vw; */align-items:flex-start;}
.company_popup .company_store .store_list .title {align-items: center;width: 7.1875vw;}
.company_popup .company_store .store_list .title::after {  width:0.3125vw; height:0.3125vw;  border-radius:50%; margin:0 1.4063vw;}
.company_popup .company_store .store_list .txt_box {width: calc(100% - 7.1875vw);}
.company_popup .popup_info {font-size:1.0938vw; line-height:1.8750vw;   margin-top:2.8125vw;}
.company_popup .layer_popup .btn_close_bottom {margin-top:1.5625vw;}
}

@media(max-width:767px) {



    .company_popup.layer_popup .layer_cont {padding: 50px 0 40px;}   

    .company_popup .company_info {flex-direction: column-reverse;padding: 0;}
    .company_popup .company_info .img_wrap {border-radius:0;width:100%; height:390px;}
    .company_popup .company_info .txt_wrap {width: 100%;padding: 0 40px 60px;}
    .company_popup .company_info .txt_wrap .txt .name {font-size:50px;line-height:56px;font-family:'NotoSansR';margin-bottom: 22px;}
    .company_popup .company_info .txt_wrap .txt .info {font-size:28px;line-height:40px;margin-bottom: 28px;}
    .company_popup .company_info .txt_wrap .btn_box {display:block; width:100%; font-size:0; margin-left:-2%}
    .company_popup .company_info .txt_wrap .btn_box .btn_view {overflow:hidden;display:inline-block;width:48%; margin-right:0; margin-top: 12px; margin-left:2%;}
    .company_popup .company_info .txt_wrap .btn_box .btn_view:nth-child(2n) {margin-right:0;}

    .company_popup .company_product {padding: 60px 40px;}
    .company_popup .company_product::before {content:none;}
    .company_popup .company_product h3 {font-size:36px;margin-top: 0;}
    .company_popup .company_product .prod_list li a {width:268px; margin-right: 24px;}
    .company_popup .company_product .prod_list li:nth-child(2n) a {margin-right:0;}

    .company_popup .company_product .prod_item .img_wrap {height:268px;}
    .company_popup .company_product .prod_item .txt_wrap .prod_name {font-size:28px; line-height:36px;}

    .company_popup .company_store {padding: 80px 40px;}
    .company_popup .company_store h3 {font-size:36px; line-height:36px;}
    .company_popup .company_store .select_box {width:100%;margin: 40px auto 0;}
    .company_popup .company_store .store_list {margin-top:40px;}
    .company_popup .company_store .store_list li {font-size:24px; line-height:34px; padding:23px 0;}
    .company_popup .company_store .store_list .title {width:120px;}
    .company_popup .company_store .store_list .title::after {width:6px;height:6px;margin: 0 18px;}
    .company_popup .company_store .store_list .txt_box {width:calc(100% - 120px);}

    .company_popup .popup_info {font-size:22px;line-height:32px;margin-top: 36px; margin-bottom:-30px;}

    /* mo vw */
    .company_popup.layer_popup .layer_cont {padding: 6.9444vw 0 5.5556vw;}   

    .company_popup .company_info {flex-direction: column-reverse;padding: 0;}
    .company_popup .company_info .img_wrap {border-radius:0;width:100%; height:54.1667vw;}
    .company_popup .company_info .txt_wrap {width: 100%;padding: 0 5.5556vw 8.3333vw;}
    .company_popup .company_info .txt_wrap .txt {width:90%;}
    .company_popup .company_info .txt_wrap .txt .name {font-size:6.9444vw;line-height:7.7778vw;margin-bottom: 3.0556vw;}
    .company_popup .company_info .txt_wrap .txt .info {font-size:3.8889vw;line-height:5.5556vw;margin-bottom: 3.89vw;}
    .company_popup .company_info .txt_wrap .btn_box {display:block; width:100%; font-size:0; margin-left:-2%}
    .company_popup .company_info .txt_wrap .btn_box .btn_view {overflow:hidden; width:48%;margin-right:0;margin-top: 1.6667vw; margin-left:2%;}
    .company_popup .company_info .txt_wrap .btn_box .btn_view:nth-child(2n) {margin-right:0;}

    .company_popup .company_product {padding: 8.3333vw 5.5556vw 0; margin-bottom: 8.3333vw;}
    .company_popup .company_product h3 {font-size:5.0000vw;}
    .company_popup .company_product .prod_list li a {width:37.2222vw; margin-right: 3.3333vw;}
    .company_popup .company_product .prod_list li:nth-child(2n) a {margin-right:0;}

    .company_popup .company_product .prod_item .img_wrap {height:37.2222vw;}
    .company_popup .company_product .prod_item .txt_wrap .prod_name {font-size:3.8889vw; line-height:5.0000vw;}

    .company_popup .company_store {padding: 11.1111vw 5.5556vw;}
    .company_popup .company_store h3 {font-size:5.0000vw; line-height:5.0000vw;}
    .company_popup .company_store .select_box {margin-top:5.56vw;}
    .company_popup .company_store .store_list {margin-top:5.5556vw;}
    .company_popup .company_store .store_list li {font-size:3.3333vw; line-height:4.7222vw; padding:3.1944vw 0;}
    .company_popup .company_store .store_list .title {width:16.6667vw;}
    .company_popup .company_store .store_list .title::after {width:0.8333vw;height:0.8333vw;margin: 0 2.5000vw;}
    .company_popup .company_store .store_list .txt_box {width:calc(100% - 16.6667vw);}

    .company_popup .popup_info {font-size:14px;line-height:24px;text-align:center;color:#999;margin-top:36px;word-break: break-word;width: 90%;margin: 36px auto 0;}
    .company_popup .popup_info {font-size:1.9444vw;line-height:3.3333vw;margin-top:5.0000vw;word-break: break-word;width: 90%;margin: 5.0000vw auto 0;}

}