.main_popup.on {display:block;}
.main_popup {position:fixed;z-index: 1005;-webkit-box-shadow: 0px 13px 40px -6px #061626;box-shadow: 0px 13px 40px -6px #061626;top:210px;left:80px;display:none;/* z-index: 1001; */}
.main_popup .img_wrap {width:440px; height:440px; background-size:cover; background-position:center;}
.main_popup .btn_close {width:32px; height:32px; position: absolute; top:17px; right:17px; font-size:0;}
.main_popup .btn_close::before {content:''; width:2px; height:32px; background-color:#fff; position:absolute;top:0; left:15px; transform:rotate(45deg);}
.main_popup .btn_close::after {content:''; width:32px; height:2px; background-color:#fff; position:absolute;top:15px; left:0; transform:rotate(45deg);}
.main_popup .btn_today_close {width:100%; height:45px; background-color:#333; text-align:center; color:#fff; font-size:14px; font-family:'NotoSansR'; display:block;}
.main_popup .btn_today_close span {display:inline-block; line-height:40px;vertical-align: bottom; opacity:0.8;}
.main_popup .btn_today_close span::after {content:''; display:inline-block; width:13px; height:30px; background-image:url('/static/img/main/btn_main_popup_close.png'); background-size:contain; background-position: bottom; background-repeat: no-repeat; margin-left:8px;margin-bottom:-1px; }

@media(min-width:768px) and (max-width:1280px) {
    /* pc vw */
    .main_popup {  -webkit-box-shadow: 0.0000vw 1.0156vw 3.1250vw -0.4688vw #061626; box-shadow: 0.0000vw 1.0156vw 3.1250vw -0.4688vw #061626; top:16.4063vw; left:6.2500vw; }
    .main_popup .img_wrap {width:34.3750vw; height:34.3750vw;}
    .main_popup .btn_close {width:2.5000vw; height:2.5000vw;  top:1.3281vw; right:1.3281vw; }
    .main_popup .btn_close::before { width:0.1563vw; height:2.5000vw; top:0; left:1.1719vw;}
    .main_popup .btn_close::after { width:2.5000vw; height:0.1563vw; top:1.1719vw; left:0;}
    .main_popup .btn_today_close {width:100%; height:3.5156vw; font-size:1.0938vw;  }
    .main_popup .btn_today_close span { line-height:3.1250vw;}
    .main_popup .btn_today_close span::after {width:1.0156vw; height:2.3438vw; margin-left:0.6250vw;margin-bottom:-0.0781vw; }
}

@media(max-width:767px) {
    /* mo px */
    .main_popup {top:160px; left:40px; -webkit-box-shadow: 0px 13px 40px -6px #061626; box-shadow: 0px 13px 40px -6px #061626;}
    .main_popup .img_wrap {width:440px; height:440px;}
    .main_popup .btn_close {width:48px; height:48px; top:15px; right:15px;}
    .main_popup .btn_close::before {width:4px; height:48px; top:0; left:22px;}
    .main_popup .btn_close::after {width:48px; height:4px; top:22px; left:0;}
    .main_popup .btn_today_close {height:60px; font-size:20px;}
    .main_popup .btn_today_close span {line-height:55px;}
    .main_popup .btn_today_close span::after {width:20px; height:20px;margin-left:16px;margin-bottom:-3px;}

    /* mo vw */
    .main_popup {top:22.2222vw; left:5.5556vw; -webkit-box-shadow: 0.0000vw 1.8056vw 5.5556vw -0.8333vw #061626; box-shadow: 0.0000vw 1.8056vw 5.5556vw -0.8333vw #061626;}
    .main_popup .img_wrap {width:61.1111vw; height:61.1111vw;}
    .main_popup .btn_close {width:6.6667vw; height:6.6667vw; top:2.0833vw; right:2.0833vw;}
    .main_popup .btn_close::before {width:0.5556vw; height:6.6667vw; top:0; left:3.0556vw;}
    .main_popup .btn_close::after {width:6.6667vw; height:0.5556vw; top:3.0556vw; left:0;}
    .main_popup .btn_today_close {height:8.3333vw; font-size:2.7778vw;}
    .main_popup .btn_today_close span {line-height:7.6389vw;}
    .main_popup .btn_today_close span::after {width:2.7778vw; height:2.7778vw;margin-left:2.2222vw;margin-bottom:-0.4167vw;}
}